<!--interface qam-->
<div class="div__line__pri">
  <mat-checkbox #ifQamUpdate color="primary" (change)="
      addInterfaceCommand(ifQamUpdate.checked)">
    interface qam {{interface}}/{{subinterface}}
  </mat-checkbox>
</div>
<div *ngIf="ifQamUpdate.checked">
  <!--shutdown start-->
  <div class="div__line__sec">
    <mat-checkbox #shutStartUpdate color="primary" (change)="
          addShutStartCommand(shutStartUpdate.checked)">
      shutdown
    </mat-checkbox>&nbsp;
  </div>
  <!--interleave-->
  <div class="div__line__sec">
    <mat-checkbox #interleaveUpdate color="primary" (change)="
      addInterleaveCommand(interleaveUpdate.checked, interleaveText.value)">
      interleave
    </mat-checkbox>&nbsp;
    <input type="text" #interleaveText value="32" class="short__input" (blur)="       
      addInterleaveCommand(interleaveUpdate.checked, interleaveText.value)">
  </div>
  <!--power-->
  <div class="div__line__sec">
    <mat-checkbox #powerUpdate color="primary" (change)="
      addPowerCommand(powerUpdate.checked, powerText.value)">
      interleave
    </mat-checkbox>&nbsp;
    <input type="text" #powerText value="380 per-channel" class="middplus__input" (blur)="       
      addPowerCommand(powerUpdate.checked, powerText.value)">
  </div>
  <!--spectrum-tilt-->
  <div class="div__line__sec">
    <mat-checkbox #tiltUpdate color="primary" (change)="tiltUpdate.checked ? false : tiltNo.checked = false;
        addSpectrumCommand(tiltUpdate.checked, tiltText.value, tiltNo.checked)">
      spectrum-tilt
    </mat-checkbox>&nbsp;
    <input type="text" #tiltText value="19" class="short__input" [disabled]="tiltNo.checked" (blur)="       
        addSpectrumCommand(tiltUpdate.checked, tiltText.value, tiltNo.checked)">&nbsp;
    <mat-checkbox #tiltNo (change)="tiltNo.checked ? tiltText.value = '' : false;
        addSpectrumCommand(tiltUpdate.checked, tiltText.value, tiltNo.checked)">
      No
    </mat-checkbox>
  </div>
  <!--channels-->
  <div class="scroll__div">
    <div *ngFor="let channel of channels; index as i">
      <!--shutdown Start Channel-->
      <div class="div__line__sec">
        <mat-checkbox #shutStartChUpdate color="primary" (change)="
          addChShutStartCommand(shutStartChUpdate.checked, channel)">
          channel {{channel}} shutdown
        </mat-checkbox>&nbsp;
      </div>
      <!--description-->
      <div class="div__line__sec">
        <mat-checkbox #descUpdate color="primary" (change)="descUpdate.checked ? false : descNo.checked = false;
          addChDescCommand(descUpdate.checked, descNo.checked, descText.value, channel)">
          channel {{channel}} description
        </mat-checkbox>&nbsp;
        <input type="text" #descText [disabled]="descNo.checked" [value]="desc" (blur)="desc = descText.value;        
          addChDescCommand(descUpdate.checked, descNo.checked, descText.value, channel)">&nbsp;
        <mat-checkbox #descNo (change)="descNo.checked ? descText.value = '' : false;
          addChDescCommand(descUpdate.checked, descNo.checked, descText.value, channel)">
          No
        </mat-checkbox>
      </div>
      <!--frequency-->
      <div class="div__line__sec">
        <mat-checkbox #freqUpdate color="primary" (change)="freqUpdate.checked ? false : freqNo.checked = false;
          addChFreqCommand(freqUpdate.checked, freqNo.checked, frq.value, channel)">
          channel {{channel}} frequency
        </mat-checkbox>&nbsp;
        <input #frq type="text" class="shortplus__input" [value]="frequency[i]" (click)="showFreqs[i] ? showFreqs[i] = false : showFreqs[i] = true;
          addChFreqCommand(freqUpdate.checked, freqNo.checked, frq.value, channel)">000000
        <mat-checkbox #freqNo (change)="freqNo.checked ? frq.value = '' : false;
          addChFreqCommand(freqUpdate.checked, freqNo.checked, frq.value, channel)">
          No
        </mat-checkbox>
        <mat-toolbar class="freqs__toolbar" *ngIf="showFreqs[i]">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip *ngFor="let freq of freqs" color="accent" selected (click)="showFreqs[i] = false;
              frequency[i] = freq;
              addChFreqCommand(freqUpdate.checked, freqNo.checked, frequency[i], channel)">
              {{freq}}
            </mat-chip>
          </mat-chip-list>
        </mat-toolbar>
      </div>
      <!--shutdown End Channel-->
      <div class="div__line__sec">
        <mat-checkbox #shutEndChUpdate color="primary" (change)="
          addChShutEndCommand(shutEndChUpdate.checked, channel)">
          no channel {{channel}} shutdown
        </mat-checkbox>&nbsp;
      </div>
      <div class="div__line__sec" *ngIf="channels.length -1 === channel">
        <button (click)="addDownstream(channel + 1)">Add downstream</button>
      </div>
    </div>
  </div>
  <!--shutdown odfm 0-->
  <div class="div__line__sec">
    <mat-checkbox #shutOdfm0Update color="primary" (change)="shutOdfm0Update.checked ? false : shutOdfm0No.checked = false;
      addOdfm0Command(shutOdfm0Update.checked, shutOdfm0No.checked)">
      ofdm-channel 0 shutdown
    </mat-checkbox>&nbsp;
    <mat-checkbox #shutOdfm0No (change)="
      addOdfm0Command(shutOdfm0Update.checked, shutOdfm0No.checked)">
      No
    </mat-checkbox>&nbsp;
  </div>
  <!--shutdown odfm 1-->
  <div class="div__line__sec">
    <mat-checkbox #shutOdfm1Update color="primary" (change)="shutOdfm1Update.checked ? false : shutOdfm1No.checked = false;
      addOdfm1Command(shutOdfm1Update.checked, shutOdfm1No.checked)">
      ofdm-channel 1 shutdown
    </mat-checkbox>&nbsp;
    <mat-checkbox #shutOdfm1No (change)="
      addOdfm1Command(shutOdfm1Update.checked, shutOdfm1No.checked)">
      No
    </mat-checkbox>&nbsp;
  </div>
  <!--shutdown end-->
  <div class="div__line__sec">
    <mat-checkbox #shutEndUpdate color="primary" (change)="
      addShutEndCommand(shutEndUpdate.checked)">
      no shutdown
    </mat-checkbox>&nbsp;
  </div>
</div>
