<!--interface qam-->
<div class="div__line__pri">
  <mat-checkbox #ifQamUpdate color="primary" (change)="
      addCommand('ifQamUpdate', ifQamUpdate.checked, false, '')">
    interface qam {{interface}}/{{subinterface}}/0
  </mat-checkbox>
</div>
<div *ngIf="ifQamUpdate.checked">
  <!--shutdown start-->
  <div class="div__line__sec">
    <mat-checkbox #shutStartUpdate color="primary" (change)="
          addCommand('shutStartUpdate',shutStartUpdate.checked, false, '')">
      shutdown
    </mat-checkbox>&nbsp;
  </div>
  <!--interleave-->
  <div class="div__line__sec">
    <mat-checkbox #interleaveUpdate color="primary" (change)="
          addCommand('interleaveUpdate', interleaveUpdate.checked, false, interleaveText.value)">
      interleave
    </mat-checkbox>&nbsp;
    <input type="text" #interleaveText value="32" class="short__input" (blur)="       
          addCommand('interleaveUpdate', interleaveUpdate.checked, false, interleaveText.value)">
  </div>
  <!--power-->
  <div class="div__line__sec">
    <mat-checkbox #powerUpdate color="primary" (change)="
            addCommand('powerUpdate', powerUpdate.checked, false, powerText.value)">
      interleave
    </mat-checkbox>&nbsp;
    <input type="text" #powerText value="380 per-channel" class="middplus__input" (blur)="       
            addCommand('powerUpdate', powerUpdate.checked, false, powerText.value)">
  </div>
  <!--spectrum-tilt-->
  <div class="div__line__sec">
    <mat-checkbox #tiltUpdate color="primary" (change)="tiltUpdate.checked ? false : tiltNo.checked = false;
        addCommand('tiltUpdate', tiltUpdate.checked, tiltNo.checked, tiltText.value)">
      spectrum-tilt
    </mat-checkbox>&nbsp;
    <input type="text" #tiltText value="19" class="short__input" [disabled]="tiltNo.checked" (blur)="       
        addCommand('tiltUpdate', tiltUpdate.checked, tiltNo.checked, tiltText.value)">&nbsp;
    <mat-checkbox #tiltNo (change)="tiltNo.checked ? tiltText.value = '' : false;
        addCommand('tiltUpdate', tiltUpdate.checked, tiltNo.checked, tiltText.value)">
      No
    </mat-checkbox>
  </div>
  <!--channels-->
  <div *ngFor="let channel of channels">
    <!--shutdown Start Channel-->
    <div class="div__line__sec">
      <mat-checkbox #shutStartChUpdate color="primary" (change)="
                addChannelCommand('shutStartChUpdate', shutStartChUpdate.checked, false, '', channel)">
        channel {{channel}} shutdown
      </mat-checkbox>&nbsp;
    </div>
    <!--description-->
    <div class="div__line__sec">
      <mat-checkbox #descUpdate color="primary" (change)="descUpdate.checked ? false : descNo.checked = false;
              addCommand('descUpdate', descUpdate.checked, descNo.checked, descText.value)">
        channel {{channel}} description
      </mat-checkbox>&nbsp;
      <input type="text" #descText [disabled]="descNo.checked" (blur)="desc = descText.value;        
              addCommand('descUpdate', descUpdate.checked, descNo.checked, descText.value)">&nbsp;
      <mat-checkbox #descNo (change)="descNo.checked ? descText.value = '' : false;
              addCommand('descUpdate', descUpdate.checked, descNo.checked, descText.value)">
        No
      </mat-checkbox>
    </div>
    <!--frequency-->
    <div class="div__line__sec">
      <mat-checkbox #freqUpdate color="primary" (change)="freqUpdate.checked ? false : freqNo.checked = false;
                addChannelCommand('freqUpdate', freqUpdate.checked, freqNo.checked, freqSelect.value, channel)">
        channel {{channel}} frequency
      </mat-checkbox>&nbsp;
      <select #freqSelect class="freq__select" (change)="
                addChannelCommand('freqUpdate', freqUpdate.checked, freqNo.checked, freqSelect.value, channel)">
        <option></option>
        <option *ngFor="let freq of freqs">{{freq}}</option>
      </select>000000
      <mat-checkbox #freqNo (change)="freqNo.checked ? freqSelect.value = '' : false;
                addChannelCommand('freqUpdate', freqUpdate.checked, freqNo.checked, freqSelect.value, channel)">
        No
      </mat-checkbox>
    </div>
    <!--shutdown End Channel-->
    <div class="div__line__sec">
      <mat-checkbox #shutEndChUpdate color="primary" (change)="
            addChannelCommand('shutEndChUpdate', shutEndChUpdate.checked, false, '', channel)">
        no channel {{channel}} shutdown
      </mat-checkbox>&nbsp;
    </div>
  </div>
  <!--shutdown odfm 0-->
  <div class="div__line__sec">
    <mat-checkbox #shutOdfm0Update color="primary" (change)="shutOdfm0Update.checked ? false : shutOdfm0No.checked = false;
          addCommand('shutOdfm0Update',shutOdfm0Update.checked, shutOdfm0No.checked, '')">
          ofdm-channel 0 shutdown
    </mat-checkbox>&nbsp;
    <mat-checkbox #shutOdfm0No (change)="
          addCommand('shutOdfm0Update',shutOdfm0Update.checked, shutOdfm0No.checked, '')">
          No
    </mat-checkbox>&nbsp;
  </div>
  <!--shutdown odfm 1-->
  <div class="div__line__sec">
    <mat-checkbox #shutOdfm1Update color="primary" (change)="shutOdfm1Update.checked ? false : shutOdfm1No.checked = false;
          addCommand('shutOdfm1Update',shutOdfm1Update.checked, shutOdfm1No.checked, '')">
          ofdm-channel 1 shutdown
    </mat-checkbox>&nbsp;
    <mat-checkbox #shutOdfm1No (change)="
          addCommand('shutOdfm1Update',shutOdfm1Update.checked, shutOdfm1No.checked, '')">
          No
    </mat-checkbox>&nbsp;
  </div>
  <!--shutdown end-->
  <div class="div__line__sec">
    <mat-checkbox #shutEndUpdate color="primary" (change)="
          addCommand('shutEndUpdate',shutEndUpdate.checked, false, '')">
      no shutdown
    </mat-checkbox>&nbsp;
  </div>
</div>


