<!--rf-chan-->
<div class="div__line__sec">
    <mat-checkbox #rfChange color="primary" [disabled]="!checked" (change)=" typeChange.checked = false; freqChange.checked = false;
        outputChange.checked = false; powerChange.checked = false; qamChange.checked = false; idChange.checked = false;
        rfNo.checked = false;
        addRfChannelCommand(rfChange.checked, start.value + ' ' + end.value, rfNo.checked);
        addTypeCommand(typeChange.checked, typeText.value);
        addFreqCommand(freqChange.checked, freqSelect.value, freqNo.checked);
        addOutputCommand(outputChange.checked, outputText.value);
        addPowerCommand(powerChange.checked, powerText.value);
        addQamCommand(qamChange.checked, qamText.value);
        addIdCommand(idChange.checked, idText.value)">
        rf-chan
    </mat-checkbox>&nbsp;
    <input type="text" #start class="short__input" [disabled]="!checked" (blur)="
        addRfChannelCommand(rfChange.checked, start.value + ' ' + end.value, rfNo.checked)">&nbsp;
    <input type="text" #end class="short__input" [disabled]="!checked" (blur)="
        addRfChannelCommand(rfChange.checked, start.value + ' ' + end.value, rfNo.checked)">&nbsp;
    <mat-checkbox #rfNo [disabled]="!checked" (change)="
        addRfChannelCommand(rfChange.checked, start.value + ' ' + end.value, rfNo.checked)">
        No
    </mat-checkbox>&nbsp;
</div>
<!--type-->
<div class="div__line__thi">
    <mat-checkbox #typeChange color="primary" [disabled]="!rfChange.checked" [disabled]="!rfChange.checked" (change)="
        addTypeCommand(typeChange.checked, typeText.value)">
        type
    </mat-checkbox>&nbsp;
    <input type="text" #typeText class="midd__input" [disabled]="!rfChange.checked" [disabled]="!rfChange.checked" value="DOCSIS" (blur)="
        addTypeCommand(typeChange.checked, typeText.value)">&nbsp;
</div>
<!--frequency-->
<div class="div__line__thi">
    <mat-checkbox #freqChange color="primary" [disabled]="!rfChange.checked" [disabled]="!rfChange.checked" (change)="
        addFreqCommand(freqChange.checked, freqSelect.value, freqNo.checked)">
        frequency
    </mat-checkbox>&nbsp;
    <select class="freq__select" #freqSelect [disabled]="!rfChange.checked" [disabled]="!rfChange.checked" (change)="
        addFreqCommand(freqChange.checked, freqSelect.value, freqNo.checked)">
        <option *ngFor="let freq of freqs">{{freq}}</option>
    </select>
    <span>000000</span>&nbsp;
    <mat-checkbox #freqNo [disabled]="!rfChange.checked" [disabled]="!rfChange.checked" [disabled]="!rfChange.checked" (change)="
        addFreqCommand(freqChange.checked, freqSelect.value, freqNo.checked)">
        No
    </mat-checkbox>&nbsp;
</div>
<!--output-->
<div class="div__line__thi">
    <mat-checkbox #outputChange color="primary" [disabled]="!rfChange.checked" [disabled]="!rfChange.checked" (change)="
        addOutputCommand(outputChange.checked, outputText.value)">
        rf-output
    </mat-checkbox>&nbsp;
    <input type="text" #outputText [disabled]="!rfChange.checked" [disabled]="!rfChange.checked" class="midd__input" value="NORMAL" (blur)="
        addOutputCommand(outputChange.checked, outputText.value)">&nbsp;
</div>
<!--power-adjust-->
<div class="div__line__thi">
    <mat-checkbox #powerChange color="primary" [disabled]="!rfChange.checked" [disabled]="!rfChange.checked" (change)="
        addPowerCommand(powerChange.checked, powerText.value)">
        power-adjust
    </mat-checkbox>&nbsp;
    <input type="text" #powerText [disabled]="!rfChange.checked" [disabled]="!rfChange.checked" class="short__input" (blur)="
        addPowerCommand(powerChange.checked, powerText.value)">&nbsp;
</div>
<!--qam-profile-->
<div class="div__line__thi">
    <mat-checkbox #qamChange color="primary" [disabled]="!rfChange.checked" [disabled]="!rfChange.checked" (change)="
        addQamCommand(qamChange.checked, qamText.value)">
        qam-profile
    </mat-checkbox>&nbsp;
    <input type="text" #qamText [disabled]="!rfChange.checked" [disabled]="!rfChange.checked" class="short__input" value="1" (blur)="
        addQamCommand(qamChange.checked, qamText.value)">&nbsp;
</div>
<!--docsis-channel-id-->
<div class="div__line__thi">
    <mat-checkbox #idChange color="primary" [disabled]="!rfChange.checked" [disabled]="!rfChange.checked" (change)="
        addIdCommand(idChange.checked, idText.value)">
        docsis-channel-id
    </mat-checkbox>&nbsp;
    <input type="text" #idText [disabled]="!rfChange.checked" [disabled]="!rfChange.checked" class="short__input" (blur)="
        addIdCommand(idChange.checked, idText.value)">&nbsp;
    <mat-checkbox #rfOther  [disabled]="!rfChange.checked">
        Add rf-chan
    </mat-checkbox>
</div>
<app-rf-chan *ngIf="rfOther.checked; else noCheck" [checked]="checked" [pos]="pos + 10"></app-rf-chan>
<ng-template #noCheck>
    {{inputNoRfChn(pos+10)}}
</ng-template>
