.div__line__sec{
    margin-top: 5px;
    margin-left: 20px;
}

.midd__input{
    width: 80px;
}

.short__input{
    width: 20px;
}

.shortplus__input{
    width: 30px;
}

.middplus__input{
    width: 130px;
}


