<div class="div__line__sec">
    <span>us-channel {{usCh}} frequency</span>&nbsp;
    <input type="text" class="shortplus__input" #channelText>
    <span>00000</span>
</div>
<div class="div__line__sec">
    <span>us-channel {{usCh}} channel-width</span>&nbsp;
    <input type="text" class="shortplus__input" #channelWidthS>
    <span>00000</span>&nbsp;
    <input type="text" class="shortplus__input" #channelWidthE>
    <span>00000</span>
</div>
<div class="div__line__sec">
    <span>us-channel {{usCh}} threshold snr-profiles</span>&nbsp;
    <input type="text" #snrText class="midd__input">
</div>
<div class="div__line__sec">
    <span>us-channel {{usCh}} threshold corr-fec</span>&nbsp;
    <input type="text" #corrText class="short__input">
</div>
<div class="div__line__sec">
    <span>us-channel {{usCh}} threshold hysteresis</span>&nbsp;
    <input type="text" #hysText class="short__input">
</div>
<div class="div__line__sec">
    <span>us-channel {{usCh}} description</span>&nbsp;
    <input type="text" #descText>
</div>
<div class="div__line__sec">
    <span>us-channel {{usCh}} docsis-mode</span>&nbsp;
    <input type="text" #docsisText value="atdma" class="midd__input">
</div>
<div class="div__line__sec">
    <span>us-channel {{usCh}} minislot-size</span>&nbsp;
    <input type="text" #miniText class="short__input">
</div>
<div class="div__line__sec">
    <span>us-channel {{usCh}} modulation-profile</span>&nbsp;
    <input type="text" #modText class="middplus__input">
</div>
<div class="div__line__sec">
    <span>us-channel {{usCh}} equalization-coefficient</span>&nbsp;
</div>
<div class="div__line__sec">
    <span>us-channel {{usCh}} shutdown</span>&nbsp;
</div>

