<div class="div__line__sec">
  <mat-checkbox #shutStartChange color="primary" [disabled]="!checked" (change)="
    addShutStartCommand(shutStartChange.checked)">
    us-channel {{usCh}} shutdown
  </mat-checkbox>&nbsp;
</div>
<!--frequency-->
<div class="div__line__sec">
  <mat-checkbox #channelChange color="primary" [disabled]="!checked" (change)="channelChange.value ? false : noCh.checked = false;
    addFreqCommand(channelChange.checked, channelText.value, noCh.checked)">
    us-channel {{usCh}} frequency
  </mat-checkbox>&nbsp;
  <input type="text" class="shortplus__input" [disabled]="!checked" #channelText (blur)="
    addFreqCommand(channelChange.checked, channelText.value, noCh.checked)">
    00000
  <mat-checkbox #noCh [disabled]="!checked" (change)="
    addFreqCommand(channelChange.checked, channelText.value, noCh.checked)">
    No
  </mat-checkbox>
</div>
<!--channel-width-->
<div class="div__line__sec">
  <mat-checkbox #channelWidthChange color="primary" [disabled]="!checked" (change)="
    addWidthCommand(channelWidthChange.checked, channelWidthS.value, channelWidthE.value)">
    us-channel {{usCh}} channel-width
  </mat-checkbox>&nbsp;
  <input type="text" class="shortplus__input" #channelWidthS [disabled]="!checked" (input)="channelWidthE.value = channelWidthS.value" (blur)="
    addWidthCommand(channelWidthChange.checked, channelWidthS.value, channelWidthE.value)">
    00000
  <input type="text" class="shortplus__input" #channelWidthE [disabled]="!checked" (blur)="
    addWidthCommand(channelWidthChange.checked, channelWidthS.value, channelWidthE.value)">
    00000
</div>
<!--snr-profiles-->
<div class="div__line__sec">
  <mat-checkbox #snrChange color="primary" [disabled]="!checked" (change)="snrChange.checked ? false : noSnr.checked = false;
    addSnrCommand(snrChange.checked, snrText.value, noSnr.checked)">
    us-channel {{usCh}} threshold snr-profiles
  </mat-checkbox>&nbsp;
  <input type="text" class="midd__input" #snrText value="24 19" [disabled]="!checked" (blur)="
    addSnrCommand(snrChange.checked, snrText.value, noSnr.checked)">&nbsp;
  <mat-checkbox #noSnr [disabled]="!checked" (change)="
    addSnrCommand(snrChange.checked, snrText.value, noSnr.checked)">
    No
  </mat-checkbox>
</div>
<!--threshold corr-fec-->
<div class="div__line__sec">
  <mat-checkbox #corrChange color="primary" [disabled]="!checked" (change)="corrChange.value ? false : noCorr.checked = false;
    addCorrCommand(corrChange.checked, corrText.value, noCorr.checked)">
    us-channel {{usCh}} threshold corr-fec
  </mat-checkbox>&nbsp;
  <input type="text" class="short__input" value="0" [disabled]="!checked" #corrText (blur)="
    addCorrCommand(corrChange.checked, corrText.value, noCorr.checked)">&nbsp;
  <mat-checkbox #noCorr [disabled]="!checked" (change)="
    addCorrCommand(corrChange.checked, corrText.value, noCorr.checked)">
    No
  </mat-checkbox>
</div>
<!--threshold hysteresis-->
<div class="div__line__sec">
  <mat-checkbox #hystChange color="primary" [disabled]="!checked" (change)="hystChange.checked ? false : noHyst.checked = false;
    addHystCommand(hystChange.checked, hystText.value, noHyst.checked)">
    us-channel {{usCh}} threshold hysteresis
  </mat-checkbox>&nbsp;
  <input type="text" class="short__input" value="4" #hystText [disabled]="!checked" (blur)="
    addHystCommand(hystChange.checked, hystText.value, noHyst.checked)">&nbsp;
  <mat-checkbox #noHyst [disabled]="!checked" (change)="
    addHystCommand(hystChange.checked, hystText.value, noHyst.checked)">
    No
  </mat-checkbox>
</div>
<!--description-->
<div class="div__line__sec">
  <mat-checkbox #descChange color="primary" [disabled]="!checked" (change)="descChange.checked ? false : noDesc.checked = false;
    addDescCommand(descChange.checked, descText.value, noDesc.checked)">
    us-channel {{usCh}} description
  </mat-checkbox>&nbsp;
  <input type="text" #descText [value]="description" [disabled]="!checked" (blur)="
    addDescCommand(descChange.checked, descText.value, noDesc.checked)">&nbsp;
  <mat-checkbox #noDesc [disabled]="!checked" (change)="noDesc.checked ? descText.value = '' : false;
    addDescCommand(descChange.checked, descText.value, noDesc.checked)">
    No
  </mat-checkbox>
</div>
<!--docsis-mode-->
<div class="div__line__sec">
  <mat-checkbox #docsisChange color="primary" [disabled]="!checked" (change)="
    addDocsisCommand(docsisChange.checked, docsisText.value)">
    us-channel {{usCh}} docsis-mode
  </mat-checkbox>&nbsp;
  <input type="text" value="atdma" class="midd__input" #docsisText [disabled]="!checked" (blur)="
    addDocsisCommand(docsisChange.checked, docsisText.value)">&nbsp;
</div>
<!--minislot-size-->
<div class="div__line__sec">
  <mat-checkbox #miniChange color="primary" [disabled]="!checked" (change)="
    addMiniCommand(miniChange.checked, miniText.value)">
    us-channel {{usCh}} minislot-size
  </mat-checkbox>&nbsp;
  <input type="text" value="2" class="short__input" #miniText [disabled]="!checked" (blur)="
    addMiniCommand(miniChange.checked, miniText.value)">
</div>
<!--modulation-profile-->
<div class="div__line__sec">
  <mat-checkbox #modulationChange [disabled]="!checked" color="primary" (change)="
    addModCommand(modulationChange.checked, modulationText.value)">
    us-channel {{usCh}} modulation-profile
  </mat-checkbox>&nbsp;
  <input type="text" value="224 223 222" class="midd__input" #modulationText [disabled]="!checked" (blur)="
    addModCommand(modulationChange.checked, modulationText.value)">
</div>
<!--equalization-coefficient-->
<div class="div__line__sec">
  <mat-checkbox #equalChange color="primary" [disabled]="!checked" (change)="equalChange.value ? false : noEqual.checked = false;
    addEqualCommand(equalChange.checked, noEqual.checked)">
    us-channel {{usCh}} equalization-coefficient
  </mat-checkbox>&nbsp;
  <mat-checkbox #noEqual [disabled]="!checked" (change)="
    addEqualCommand(equalChange.checked, noEqual.checked)">
    No
  </mat-checkbox>
</div>
<!--shutdown-->
<div class="div__line__sec">
  <mat-checkbox #shutEndChange color="primary" [disabled]="!checked" (change)="
    addShutEndCommand(shutEndChange.checked)">
    no us-channel {{usCh}} shutdown
  </mat-checkbox>&nbsp;
</div>
