<div class="div__line__pri">
  <mat-checkbox #dsChange color="primary" (change)="inputCommand(dsChange.checked, dsNo.checked, start.value, end.value)">
      downstream Integrated-Cable {{interF}}/0/{{slt}} rf-channel
  </mat-checkbox>&nbsp;
  <input #start type="text" class="short__input" (blur)="inputCommand(dsChange.checked, dsNo.checked, start.value, end.value)">
  <span>-</span>
  <input #end type="text" class="short__input" (blur)="inputCommand(dsChange.checked, dsNo.checked, start.value, end.value)">&nbsp;
  <mat-checkbox #dsNo (change)="inputCommand(dsChange.checked, dsNo.checked, start.value, end.value)">No |</mat-checkbox>&nbsp;
  <mat-checkbox #dsOther>Add downstream</mat-checkbox>&nbsp;
</div>
<app-down-stream [interF]="interF" [slt]="slt" [pos]="pos + 1" *ngIf="dsOther.checked; else noCheck"></app-down-stream>
<ng-template #noCheck></ng-template>
