<div class="container">
  <mat-card>
    <mat-card-title>C100G</mat-card-title>
    <mat-card-subtitle>Casa</mat-card-subtitle>
    <!--interface docsis-mac-->
    <div class="div__interface">
      <mat-checkbox #interFaceUpdate color="primary" (change)="interFaceUpdate.checked ? false : shutStartUpdate.checked = false;
        interFaceUpdate.checked ? false : descUpdate.checked = false; interFaceUpdate.checked ? false : descNo.checked = false;
        interFaceUpdate.checked ? false : initialUpdate.checked = false; interFaceUpdate.checked ? false : earlyUpdate.checked = false;
        interFaceUpdate.checked ? false : earlyNo.checked = false; interFaceUpdate.checked ? false : multicastUpdate.checked = false;
        interFaceUpdate.checked ? false : multicastNo.checked = false; interFaceUpdate.checked ? false : tftpUpdate.checked = false;
        interFaceUpdate.checked ? false : tftpNo.checked = false; interFaceUpdate.checked ? false : bundleUpdate.checked = false;
        interFaceUpdate.checked ? false : bundleNo.checked = false; interFaceUpdate.checked ? false : mgmdUpdate.checked = false;
        interFaceUpdate.checked ? false : mgmdNo.checked = false; interFaceUpdate.checked ? false : reportUpdate.checked = false;
        interFaceUpdate.checked ? false : reportNo.checked = false; interFaceUpdate.checked ? false : trapoUpdate.checked = false;
        interFaceUpdate.checked ? false : trapoNo.checked = false; interFaceUpdate.checked ? false : trapiUpdate.checked = false;
        interFaceUpdate.checked ? false : trapiNo.checked = false; interFaceUpdate.checked ? false : shutEndUpdate.checked = false;
        addInterfaceCommand(interFaceUpdate.checked); addShutStartCommand(shutStartUpdate.checked);
        addDescCommand(descUpdate.checked, descText.value, descNo.checked); addInitialCommand(initialUpdate.checked, initialText.value);
        addEarlyCommand(earlyUpdate.checked, earlyNo.checked); addMultiCommand(multicastUpdate.checked, multicastNo.checked);
        addTftpCommand(tftpUpdate.checked, tftpNo.checked); addBundleCommand(bundleUpdate.checked, bundleText.value, bundleNo.checked);
        addMgdCommand(mgmdUpdate.checked, mgmdNo.checked); addReportCommand(reportUpdate.checked, reportText.value, reportNo.checked);
        addTrapoCommand(trapoUpdate.checked, trapoNo.checked); addTrapiCommand(trapiUpdate.checked, trapiText.value, trapiNo.checked);
        addShutEndCommand(shutEndUpdate.checked)">
      </mat-checkbox>&nbsp;
      <strong>
        <span>interface docsis-mac</span>&nbsp;
        <input type="text" class="mac__input" #macText (blur)="mac  = macText.value;
        addInterfaceCommand(interFaceUpdate.checked)">
      </strong>
    </div>
    <!--interface cable-mac attributes-->
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenStateAtt = true" (closed)="panelOpenStateAtt = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            interface docsis-mac attributes
          </mat-panel-title>
          <mat-panel-description>
            Click to {{panelOpenStateAtt ? 'close' : 'open'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--shutdown start-->
        <div class="div__line__pri">
          <mat-checkbox #shutStartUpdate color="primary" (change)="
            addShutStartCommand(shutStartUpdate.checked)">
            cable shutdown
          </mat-checkbox>&nbsp;
        </div>
        <!--description-->
        <div class="div__line__pri">
          <mat-checkbox #descUpdate color="primary" (change)="descUpdate.checked ? false : descNo.checked = false;
            addDescCommand(descUpdate.checked, descText.value, descNo.checked)">
            description
          </mat-checkbox>&nbsp;
          <input type="text" #descText [disabled]="descNo.checked" (blur)="desc = descText.value;        
            addDescCommand(descUpdate.checked, descText.value, descNo.checked)">&nbsp;
          <mat-checkbox #descNo (change)="descNo.checked ? descText.value = '' : false;
            addDescCommand(descUpdate.checked, descText.value, descNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--initial-tech-->
        <div class="div__line__pri">
          <mat-checkbox #initialUpdate color="primary" (change)="
            addInitialCommand(initialUpdate.checked, initialText.value)">
            initial-tech
          </mat-checkbox>&nbsp;
          <input type="text" #initialText value="period-ranging" class="middplus__input" (blur)="        
            addInitialCommand(initialUpdate.checked, initialText.value)">
        </div>
        <!--early-authentication-encryption-->
        <div class="div__line__pri">
          <mat-checkbox #earlyUpdate color="primary" (change)="earlyUpdate.checked ? false : earlyNo.checked = false;    
            addEarlyCommand(earlyUpdate.checked, earlyNo.checked)">
            early-authentication-encryption
          </mat-checkbox>&nbsp;
          <mat-checkbox #earlyNo (change)="
            addEarlyCommand(earlyUpdate.checked, earlyNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--multicast-dsid-forward-->
        <div class="div__line__pri">
          <mat-checkbox #multicastUpdate color="primary" (change)="multicastUpdate.checked ? false : multicastNo.checked = false;    
            addMultiCommand(multicastUpdate.checked, multicastNo.checked)">
            multicast-dsid-forward
          </mat-checkbox>&nbsp;
          <mat-checkbox #multicastNo (change)="
            addMultiCommand(multicastUpdate.checked, multicastNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--tftp-proxy-->
        <div class="div__line__pri">
          <mat-checkbox #tftpUpdate color="primary" (change)="tftpUpdate.checked ? false : tftpNo.checked = false;
            addTftpCommand(tftpUpdate.checked, tftpNo.checked)">
            tftp-proxy
          </mat-checkbox>&nbsp;
          <mat-checkbox #tftpNo (change)="
            addTftpCommand(tftpUpdate.checked, tftpNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--ip bundle-->
        <div class="div__line__pri">
          <mat-checkbox #bundleUpdate color="primary" (change)="bundleUpdate.checked ? false : bundleNo.checked = false;
            addBundleCommand(bundleUpdate.checked, bundleText.value, bundleNo.checked)">
            ip bundle
          </mat-checkbox>&nbsp;
          <input type="text" #bundleText [disabled]="bundleNo.checked" class="short__input" value="2" (blur)="        
            addBundleCommand(bundleUpdate.checked, bundleText.value, bundleNo.checked)">&nbsp;
          <mat-checkbox #bundleNo (change)="bundleNo.checked ? bundleText.value = '' : false;
            addBundleCommand(bundleUpdate.checked, bundleText.value, bundleNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--upstreams A-->
        <div class="div__line__pri">
          <strong>
            <mat-checkbox #upstreamAUpdate color="primary">
              interface upstream {{upA}}
            </mat-checkbox>
            <select #selectIfUp class="mod__select" (change)="interfaceUp = selectIfUp.value">
              <option></option>
              <option *ngFor="let ifUpstream of ifUpstreams">{{ifUpstream}}</option>
            </select>
            <span>/</span>
            <select #selectSifUp class="mod__select"
              (change)="sifAUp = selectSifUp.value; sifBUp = sifBUpFunc(selectSifUp.value)">
              <option></option>
              <option *ngFor="let sifUpstream of sifUpstreams">{{sifUpstream}}</option>
            </select>&nbsp;
          </strong>
          <mat-checkbox #addUp color="primary"
            (change)="addUp.checked ? upA = 'A' : upA = ''; addUp.checked ? upB = 'B' : upB = ''">
            Add upstream
          </mat-checkbox>
        </div>
        <mat-accordion *ngIf="upstreamAUpdate.checked">
          <mat-expansion-panel (opened)="panelOpenStateUsA = true" (closed)="panelOpenStateUsA = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                interface upstream {{upA}} attributes
              </mat-panel-title>
              <mat-panel-description>
                Click to {{panelOpenStateUsA ? 'close' : 'open'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let upstream of upstreamsA; index as i">
              <app-upstream-c100-g [up]="upstream" [interface]="interfaceUp" [subinterface]="sifAUp" [slot]="i"
                [slts]="upstreamsA.length" [pos]="10 + i" (addUpstreamEvent)="addUpstreamA($event)">
              </app-upstream-c100-g>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <!--upstreams B-->
        <div *ngIf="addUp.checked">
          <div class="div__line__pri">
            <mat-checkbox #upstreamBUpdate color="primary">
              <strong>interface upstream B</strong>
            </mat-checkbox>&nbsp;
            <strong>{{interfaceUp}}/{{sifBUp}}</strong>
          </div>
          <mat-accordion *ngIf="upstreamBUpdate.checked">
            <mat-expansion-panel (opened)="panelOpenStateUsB = true" (closed)="panelOpenStateUsB = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  interface upstream B attributes
                </mat-panel-title>
                <mat-panel-description>
                  Click to {{panelOpenStateUsB ? 'close' : 'open'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div *ngFor="let upstream of upstreamsB; index as i">
                <app-upstream-c100-g [up]="upstream" [interface]="interfaceUp" [subinterface]="sifBUp" [slot]="i"
                  [slts]="upstreamsB.length" [pos]="20 + i" (addUpstreamEvent)="addUpstreamB($event)">
                </app-upstream-c100-g>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <!--downstreams-->
        <div class="div__line__pri">
          <strong>
            <mat-checkbox #downstreamUpdate color="primary">
              interfaces downstream
            </mat-checkbox>
            <select #selectIfDown class="mod__select" (change)="interfaceDown = selectIfDown.value">
              <option></option>
              <option *ngFor="let ifDownstream of ifDownstreams">{{ifDownstream}}</option>
            </select>
            <span>/</span>
            <select #selectSifDown class="mod__select" (change)="sifDown = selectSifDown.value">
              <option></option>
              <option *ngFor="let sifDownstream of sifDownstreams">{{sifDownstream}}</option>
            </select>
            <span>/</span>
            <span>0 --> </span>
            <select #selectChDownEnd class="mod__select"
              (change)="chDownEnd = selectChDownEnd.value; makeDownstreams()">
              <option></option>
              <option *ngFor="let chDownstream of chDownstreams">{{chDownstream}}</option>
            </select>
          </strong>
        </div>
        <mat-accordion *ngIf="downstreamUpdate.checked">
          <mat-expansion-panel (opened)="panelOpenStateDs = true" (closed)="panelOpenStateDs = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                interfaces downstream attributes
              </mat-panel-title>
              <mat-panel-description>
                Click to {{panelOpenStateDs ? 'close' : 'open'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="scroll__div">
              <div *ngFor="let downstream of downstreams; index as i">
                <app-downstream-c100-g [downstream]="downstream" [interfaceDown]="interfaceDown" [sifDown]="sifDown"
                  [slotDown]="i" [pos]="30 + i">
                </app-downstream-c100-g>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <!--mgmd ipv4-->
        <div class="div__line__pri">
          <mat-checkbox #mgmdUpdate color="primary" (change)="mgmdUpdate.checked ? false : mgmdNo.checked = false;
            addMgdCommand(mgmdUpdate.checked, mgmdNo.checked)">
            mgmd ipv4 shutdown
          </mat-checkbox>&nbsp;
          <mat-checkbox #mgmdNo (change)="
            addMgdCommand(mgmdUpdate.checked, mgmdNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--cm-status report event-list-->
        <div class="div__line__pri">
          <mat-checkbox #reportUpdate color="primary" (change)="reportUpdate.checked ? false : reportNo.checked = false;
            addReportCommand(reportUpdate.checked, reportText.value, reportNo.checked)">
            cable cm-status report event-list
          </mat-checkbox>&nbsp;
          <input type="text" #reportText [disabled]="reportNo.checked" style="width: 200px"
            value="1,2,3,4,5,6,7,8,9,10,11,17,26,27" (blur)="        
            addReportCommand(reportUpdate.checked, reportText.value, reportNo.checked)">&nbsp;
          <mat-checkbox #reportNo (change)="reportNo.checked ? reportText.value = '' : false;
            addReportCommand(reportUpdate.checked, reportText.value, reportNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--cm trap online-offline-only-->
        <div class="div__line__pri">
          <mat-checkbox #trapoUpdate color="primary" (change)="trapoUpdate.checked ? false : trapoNo.checked = false;  
            addTrapoCommand(trapoUpdate.checked, trapoNo.checked)">
            cm trap online-offline-only
          </mat-checkbox>&nbsp;
          <mat-checkbox #trapoNo (change)="
            addTrapoCommand(trapoUpdate.checked, trapoNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--cm trap interval-->
        <div class="div__line__pri">
          <mat-checkbox #trapiUpdate color="primary" (change)="trapiUpdate.checked ? false : trapiNo.checked = false;
            addTrapiCommand(trapiUpdate.checked, trapiText.value, trapiNo.checked)">
            cm trap interval
          </mat-checkbox>&nbsp;
          <input type="text" #trapiText [disabled]="trapiNo.checked" class="shortplus__input" value="1200" (blur)="        
            addTrapiCommand(trapiUpdate.checked, trapiText.value, trapiNo.checked)">&nbsp;
          <mat-checkbox #trapiNo (change)="trapiNo.checked ? trapiText.value = '' : false;
            addTrapiCommand(trapiUpdate.checked, trapiText.value, trapiNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--shutdown end-->
        <div class="div__line__pri">
          <mat-checkbox #shutEndUpdate color="primary" (change)="
            addShutEndCommand(shutEndUpdate.checked)">
            no cable shutdown
          </mat-checkbox>&nbsp;
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <!--interfaces upstream A-->
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenStateUpA = true" (closed)="panelOpenStateUpA = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>interface upstream {{upA}}</strong>
          </mat-panel-title>
          <mat-panel-description>
            Click to {{panelOpenStateUpA ? 'close' : 'open'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="selectIfUp.value !==''">
          <div *ngFor="let upstream of upstreamsA; index as i">
            <app-interface-upstream [pos]="150 + i * 20" [interface]="interfaceUp" [subinterface]="sifAUp"
              [slot]="upstream" [desc]="desc">
            </app-interface-upstream>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <!--interfaces upstream B-->
    <div *ngIf="addUp.checked">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenStateUpB = true" (closed)="panelOpenStateUpB = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>interface upstream B</strong>
            </mat-panel-title>
            <mat-panel-description>
              Click to {{panelOpenStateUpB ? 'close' : 'open'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="selectIfUp.value !==''">
            <div *ngFor="let upstream of upstreamsB; index as i">
              <app-interface-upstream [pos]="200 + i * 20" [interface]="interfaceUp" [subinterface]="sifBUp"
                [slot]="upstream" [desc]="desc">
              </app-interface-upstream>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
    </div>
    <!--interface qam-->
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenStateDown = true" (closed)="panelOpenStateDown = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>interface qam</strong>
          </mat-panel-title>
          <mat-panel-description>
            Click to {{panelOpenStateDown ? 'close' : 'open'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="selectSifDown.value !==''">
          <app-interface-downstream [pos]="300" [interface]="interfaceDown" [subinterface]="sifDown" [desc]="desc"
            [channels]="channels" (addChannelEvent)="addChannel($event)">
          </app-interface-downstream>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <!--service group A-->
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenStateServiceA = true" (closed)="panelOpenStateServiceA = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>service group {{upA}}</strong>
          </mat-panel-title>
          <mat-panel-description>
            Click to {{panelOpenStateServiceA ? 'close' : 'open'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="selectSifUp.value !==''">
          <app-service-group [pos]="700" [ifDown]="interfaceDown" [sifDown]="sifDown" [ifUp]="interfaceUp"
            [sifUp]="sifAUp" [desc]="desc" [mac]="mac" [sec]="upA" [ups]="upstreamsA" [channels]="channels">
          </app-service-group>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <!--service group B-->
    <div *ngIf="addUp.checked">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenStateServiceB = true" (closed)="panelOpenStateServiceB = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>service group B</strong>
            </mat-panel-title>
            <mat-panel-description>
              Click to {{panelOpenStateServiceB ? 'close' : 'open'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="selectSifUp.value !==''">
            <app-service-group [pos]="800" [ifDown]="interfaceDown" [sifDown]="sifDown" [ifUp]="interfaceUp"
              [sifUp]="sifBUp" [desc]="desc" [mac]="mac" [sec]="upB" [ups]="upstreamsB" [channels]="channels">
            </app-service-group>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
    </div>
    <app-script></app-script>
  </mat-card>
</div>
