<div class="container">
  <mat-card>
    <mat-card-title>C100G</mat-card-title>
    <mat-card-subtitle>Casa</mat-card-subtitle>
    <!--interface docsis-mac-->
    <div class="div__interface">
      <mat-checkbox #interFaceUpdate color="primary" (change)="
              interFaceUpdate.checked
                  ? inputCommand('interface docsis-mac ' + macText.value, 0)
                  : inputCommand('', 0)">
      </mat-checkbox>&nbsp;
      <strong>
        <span>interface docsis-mac</span>&nbsp;
        <input type="text" class="mac__input" #macText (blur)="mac  = macText.value;
          interFaceUpdate.checked
          ? inputCommand('interface docsis-mac ' + macText.value, 0)
          : inputCommand('', 0)">
      </strong>
    </div>
    <!--interface cable-mac attributes-->
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenStateAtt = true" (closed)="panelOpenStateAtt = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            interface docsis-mac attributes
          </mat-panel-title>
          <mat-panel-description>
            Click to {{panelOpenStateAtt ? 'close' : 'open'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--shutdown-->
        <div class="div__line__pri">
          <mat-checkbox #shutStartUpdate color="primary" (change)="
              shutStartUpdate.checked 
                    ? inputCommand(' shutdown',  1) 
                    : inputCommand('', 1)">
            cable shutdown
          </mat-checkbox>&nbsp;
        </div>
        <!--Description-->
        <div class="div__line__pri">
          <mat-checkbox #descUpdate color="primary" (change)="      
                descUpdate.checked ? !descNo.checked 
                    ? inputCommand(' description ' + quot + descText.value + quot,  2) 
                    : inputCommand(' no description', 2) 
                  : inputCommand('', 2)">
            description
          </mat-checkbox>&nbsp;
          <input type="text" #descText [disabled]="descNo.checked" (blur)="desc = descText.value;        
                descUpdate.checked ? !descNo.checked 
                  ? inputCommand(' description ' + quot + descText.value + quot, 2) 
                  : inputCommand(' no description', 2) 
                : inputCommand('', 2)">&nbsp;
          <mat-checkbox #descNo (change)="descNo.checked ? descText.value = '' : false;
                descUpdate.checked ? !descNo.checked 
                  ? inputCommand(' description ' + quot + descText.value + quot, 2) 
                  : inputCommand(' no description', 2) 
                : inputCommand('', 2)">
            No
          </mat-checkbox>
        </div>
        <!--initial-tech-->
        <div class="div__line__pri">
          <mat-checkbox #initialUpdate color="primary" (change)="      
            initialUpdate.checked
                    ? inputCommand(' initial-tech ' + initialText.value,  3) 
                    : inputCommand('', 3)">
            initial-tech
          </mat-checkbox>&nbsp;
          <input type="text" #initialText value="period-ranging" class="middplus__input" (blur)="        
            initialUpdate.checked
                  ? inputCommand(' initial-tech ' + initialText.value, 3) 
                  : inputCommand('', 3)">
        </div>
        <!--early-authentication-encryption-->
        <div class="div__line__pri">
          <mat-checkbox #earlyUpdate color="primary" (change)="      
            earlyUpdate.checked ? !earlyNo.checked 
                    ? inputCommand(' early-authentication-encryption',  4) 
                    : inputCommand(' no early-authentication-encryption', 4) 
                  : inputCommand('', 4)">
            early-authentication-encryption
          </mat-checkbox>&nbsp;
          <mat-checkbox #earlyNo (change)="
            earlyUpdate.checked ? !earlyNo.checked 
                  ? inputCommand(' early-authentication-encryption', 4) 
                  : inputCommand(' no early-authentication-encryption', 4) 
                : inputCommand('', 4)">
            No
          </mat-checkbox>
        </div>
        <!--multicast-dsid-forward-->
        <div class="div__line__pri">
          <mat-checkbox #multicastUpdate color="primary" (change)="      
            multicastUpdate.checked ? !multicastNo.checked 
                    ? inputCommand(' multicast-dsid-forward',  5) 
                    : inputCommand(' no multicast-dsid-forward', 5) 
                  : inputCommand('', 5)">
            multicast-dsid-forward
          </mat-checkbox>&nbsp;
          <mat-checkbox #multicastNo (change)="
            multicastUpdate.checked ? !multicastNo.checked 
                  ? inputCommand(' multicast-dsid-forward', 5) 
                  : inputCommand(' no multicast-dsid-forward', 5) 
                : inputCommand('', 5)">
            No
          </mat-checkbox>
        </div>
        <!--tftp-proxy-->
        <div class="div__line__pri">
          <mat-checkbox #tftpUpdate color="primary" (change)="      
            tftpUpdate.checked ? !tftpNo.checked 
                    ? inputCommand(' tftp-proxy',  6) 
                    : inputCommand(' no tftp-proxy', 6) 
                  : inputCommand('', 6)">
            tftp-proxy
          </mat-checkbox>&nbsp;
          <mat-checkbox #tftpNo (change)="
            tftpUpdate.checked ? !tftpNo.checked 
                  ? inputCommand(' tftp-proxy', 6) 
                  : inputCommand(' no tftp-proxy', 6) 
                : inputCommand('', 6)">
            No
          </mat-checkbox>
        </div>
        <!--ip bundle-->
        <div class="div__line__pri">
          <mat-checkbox #bundleUpdate color="primary" (change)="      
            bundleUpdate.checked ? !bundleNo.checked 
                    ? inputCommand(' ip bundle ' + bundleText.value,  7) 
                    : inputCommand(' no ip bundle', 7) 
                  : inputCommand('', 7)">
            ip bundle
          </mat-checkbox>&nbsp;
          <input type="text" #bundleText [disabled]="bundleNo.checked" class="short__input" value="2" (blur)="        
            bundleUpdate.checked ? !bundleNo.checked 
                  ? inputCommand(' ip bundle ' + bundleText.value, 7) 
                  : inputCommand(' no ip bundle', 7) 
                : inputCommand('', 7)">&nbsp;
          <mat-checkbox #bundleNo (change)="bundleNo.checked ? bundleText.value = '' : false;
            bundleUpdate.checked ? !bundleNo.checked 
                  ? inputCommand(' ip bundle ' + bundleText.value, 7) 
                  : inputCommand(' no ip bundle', 7) 
                : inputCommand('', 7)">
            No
          </mat-checkbox>
        </div>
        <!--upstreams-->
        <div class="div__line__pri">
          <strong>interfaces upstream</strong>
          <select #selectIfUp class="mod__select" (change)="interfaceUp = parse_Int(selectIfUp.value)">
            <option></option>
            <option *ngFor="let ifUpstream of ifUpstreams">{{ifUpstream}}</option>
          </select>
          <span>/</span>
          <select #selectSifUp class="mod__select"
            (change)="sifStartUp = parse_Int(selectSifUp.value); sifEndUp = parse_Int(selectSifUp.value) + 1">
            <option></option>
            <option *ngFor="let sifUpstream of sifUpstreams">{{sifUpstream}}</option>
          </select>
          <span>--> {{sifEndUp}}</span>
        </div>
        <mat-accordion *ngIf="selectSifUp.value !== ''">
          <mat-expansion-panel (opened)="panelOpenStateUs = true" (closed)="panelOpenStateUs = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                interfaces upstream attributes
              </mat-panel-title>
              <mat-panel-description>
                Click to {{panelOpenStateUs ? 'close' : 'open'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let upstream of upstreamsA; index as i">
              <app-upstream-c100-g [up]="upstream" [interface]="interfaceUp" [subinterface]="sifStartUp" [slot]="i"
                [slts]="upstreamsA.length" [pos]="10 + i" (addUpstreamEvent)="addUpstreamA($event)">
              </app-upstream-c100-g>
            </div>
            <div *ngFor="let upstream of upstreamsB; index as i">
              <app-upstream-c100-g [up]="upstream" [interface]="interfaceUp" [subinterface]="sifEndUp" [slot]="i"
                [slts]="upstreamsB.length" [pos]="20 + i" (addUpstreamEvent)="addUpstreamB($event)">
              </app-upstream-c100-g>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <!--downstreams-->
        <div class="div__line__pri">
          <strong>interfaces downstream</strong>
          <select #selectIfDown class="mod__select" (change)="interfaceDown = parse_Int(selectIfDown.value)">
            <option></option>
            <option *ngFor="let ifDownstream of ifDownstreams">{{ifDownstream}}</option>
          </select>
          <span>/</span>
          <select #selectSifDown class="mod__select" (change)="sifDown = parse_Int(selectSifDown.value)">
            <option></option>
            <option *ngFor="let sifDownstream of sifDownstreams">{{sifDownstream}}</option>
          </select>
          <span>/</span>
          <span>0 --> </span>
          <select #selectChDownEnd class="mod__select"
            (change)="chDownEnd = parse_Int(selectChDownEnd.value); makeDownstreams()">
            <option></option>
            <option *ngFor="let chDownstream of chDownstreams">{{chDownstream}}</option>
          </select>
        </div>
        <mat-accordion *ngIf="selectChDownEnd.value !== ''">
          <mat-expansion-panel (opened)="panelOpenStateDs = true" (closed)="panelOpenStateDs = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                interfaces downstream attributes
              </mat-panel-title>
              <mat-panel-description>
                Click to {{panelOpenStateDs ? 'close' : 'open'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let downstream of downstreams; index as i">
              <mat-checkbox #downUpdate color="primary" (change)="
                downUpdate.checked 
                  ? !NoDownUpdate.checked
                    ? secUpdate.checked
                      ? inputCommand(' downstream ' + downstream + ' interface qam ' + interfaceDown + '/' + sifDown + '/' + dsSelect.value + ' secondary', 30 + i)
                      :inputCommand(' downstream ' + downstream + ' interface qam ' + interfaceDown + '/' + sifDown + '/' + dsSelect.value, 30 + i)
                    : inputCommand(' no downstream ' + downstream, 30 + i)
                  : inputCommand('', 30 + i)">
                downstream {{downstream}} interface qam {{interfaceDown}}/{{sifDown}}/
              </mat-checkbox>
              <select #dsSelect class="mod__select" (change)="
              downUpdate.checked 
                ? !NoDownUpdate.checked
                  ? secUpdate.checked
                    ? inputCommand(' downstream ' + downstream + ' interface qam ' + interfaceDown + '/' + sifDown + '/' + dsSelect.value + ' secondary', 30 + i)
                    :inputCommand(' downstream ' + downstream + ' interface qam ' + interfaceDown + '/' + sifDown + '/' + dsSelect.value, 30 + i)
                  : inputCommand(' no downstream ' + downstream, 30 + i)
                : inputCommand('', 30 + i)">
                <option>{{chDownstreams[i]}}</option>
                <option *ngFor="let chDownstream of chDownstreams">{{chDownstream}}</option>
              </select>
              <mat-checkbox #secUpdate (change)="
              downUpdate.checked 
                ? !NoDownUpdate.checked
                  ? secUpdate.checked
                    ? inputCommand(' downstream ' + downstream + ' interface qam ' + interfaceDown + '/' + sifDown + '/' + dsSelect.value + ' secondary', 30 + i)
                    :inputCommand(' downstream ' + downstream + ' interface qam ' + interfaceDown + '/' + sifDown + '/' + dsSelect.value, 30 + i)
                  : inputCommand(' no downstream ' + downstream, 30 + i)
                : inputCommand('', 30 + i)">
                secondary |
              </mat-checkbox>&nbsp;
              <mat-checkbox #NoDownUpdate (change)="
              downUpdate.checked 
                ? !NoDownUpdate.checked
                  ? secUpdate.checked
                    ? inputCommand(' downstream ' + downstream + ' interface qam ' + interfaceDown + '/' + sifDown + '/' + dsSelect.value + ' secondary', 30 + i)
                    :inputCommand(' downstream ' + downstream + ' interface qam ' + interfaceDown + '/' + sifDown + '/' + dsSelect.value, 30 + i)
                  : inputCommand(' no downstream ' + downstream, 30 + i)
                : inputCommand('', 30 + i)">
                No
              </mat-checkbox>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <!--mgmd ipv4-->
        <div class="div__line__pri">
          <mat-checkbox #mgmdUpdate color="primary" (change)="      
          mgmdUpdate.checked ? !mgmdNo.checked 
                    ? inputCommand(' mgmd ipv4 shutdown',  40) 
                    : inputCommand(' no mgmd ipv4 shutdown', 40) 
                  : inputCommand('', 40)">
                  mgmd ipv4 shutdown
          </mat-checkbox>&nbsp;
          <mat-checkbox #mgmdNo (change)="
          mgmdUpdate.checked ? !mgmdNo.checked 
                  ? inputCommand(' mgmd ipv4 shutdown', 40) 
                  : inputCommand(' no mgmd ipv4 shutdown', 40) 
                : inputCommand('', 40)">
            No
          </mat-checkbox>
        </div>
        <!--cm-status report event-list -->
        <div class="div__line__pri">
          <mat-checkbox #reportUpdate color="primary" (change)="      
          reportUpdate.checked ? !reportNo.checked 
                    ? inputCommand(' cable cm-status report event-list ' + reportText.value,  41) 
                    : inputCommand(' no cable cm-status report event-list', 41) 
                  : inputCommand('', 41)">
                  cable cm-status report event-list
          </mat-checkbox>&nbsp;
          <input type="text" #reportText [disabled]="reportNo.checked" style="width: 200px" value="1,2,3,4,5,6,7,8,9,10,11,17,26,27" (blur)="        
          reportUpdate.checked ? !reportNo.checked 
                  ? inputCommand(' cable cm-status report event-list ' + reportText.value, 41) 
                  : inputCommand(' no cable cm-status report event-list', 41) 
                : inputCommand('', 41)">&nbsp;
          <mat-checkbox #reportNo (change)="reportNo.checked ? reportText.value = '' : false;
          reportUpdate.checked ? !reportNo.checked 
                  ? inputCommand(' cable cm-status report event-list ' + reportText.value, 41) 
                  : inputCommand(' no cable cm-status report event-list', 41) 
                : inputCommand('', 41)">
            No
          </mat-checkbox>
        </div>
        <!--cm trap online-offline-only-->
        <div class="div__line__pri">
          <mat-checkbox #trapoUpdate color="primary" (change)="      
          trapoUpdate.checked ? trapoNo.checked 
                    ? inputCommand(' cm trap online-offline-only',  42) 
                    : inputCommand(' no cm trap online-offline-only', 42) 
                  : inputCommand('', 42)">
                  cm trap online-offline-only
          </mat-checkbox>&nbsp;
          <mat-checkbox #trapoNo (change)="
          trapoUpdate.checked ? !trapoNo.checked 
                  ? inputCommand(' cm trap online-offline-only', 42) 
                  : inputCommand(' no cm trap online-offline-only', 42) 
                : inputCommand('', 42)">
            No
          </mat-checkbox>
        </div>
        <!--cm trap interval-->
        <div class="div__line__pri">
          <mat-checkbox #trapiUpdate color="primary" (change)="      
          trapiUpdate.checked ? !trapiNo.checked 
                    ? inputCommand(' cm trap interval ' + trapiText.value,  43) 
                    : inputCommand(' no cm trap interval', 43) 
                  : inputCommand('', 43)">
                  cm trap interval
          </mat-checkbox>&nbsp;
          <input type="text" #trapiText [disabled]="trapiNo.checked" class="shortplus__input" value="1200" (blur)="        
          trapiUpdate.checked ? !trapiNo.checked 
                  ? inputCommand(' cm trap interval ' + trapiText.value, 43) 
                  : inputCommand(' no cm trap interval', 43) 
                : inputCommand('', 43)">&nbsp;
          <mat-checkbox #trapiNo (change)="trapiNo.checked ? trapiText.value = '' : false;
          trapiUpdate.checked ? !trapiNo.checked 
                  ? inputCommand(' cable cm trap interval ' + trapiText.value, 43) 
                  : inputCommand(' no cm trap interval', 43) 
                : inputCommand('', 43)">
            No
          </mat-checkbox>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <!--interfaces upstream A-->
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenStateUpA = true" (closed)="panelOpenStateUpA = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            interfaces upstream A
          </mat-panel-title>
          <mat-panel-description>
            Click to {{panelOpenStateUpA ? 'close' : 'open'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="selectIfUp.value !==''">
        <div *ngFor="let sltUpstream of sltUpstreams; index as i">
          <app-interface-upstream [pos]="50 + i * 20" [interface]="interfaceUp" [subinterface]="sifStartUp" [slot]="sltUpstream" [desc]="desc">
          </app-interface-upstream>
        </div>
      </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
    <!--interfaces upstream B-->
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenStateUpB = true" (closed)="panelOpenStateUpB = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              interfaces upstream B
            </mat-panel-title>
            <mat-panel-description>
              Click to {{panelOpenStateUpB ? 'close' : 'open'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="selectIfUp.value !==''">
            <div *ngFor="let sltUpstream of sltUpstreams; index as i">
            <app-interface-upstream [pos]="150 + i * 20" [interface]="interfaceUp" [subinterface]="sifEndUp" [slot]="sltUpstream" [desc]="desc">
            </app-interface-upstream>
          </div>
        </div>
      </mat-expansion-panel>
        </mat-accordion>
  


    <br>
    <app-script></app-script>
  </mat-card>
</div>
