<div class="container">
  <mat-card>
    <mat-card-title>Cisco CBR8</mat-card-title>
    <!--<mat-card-subtitle>Start</mat-card-subtitle>-->

    <!--interface Cable-->
    <div class="div__interface">
      <strong>
        <span>Interface Cable</span>
        <mat-form-field appearance="fill" class="interface">
          <mat-select disableRipple #iF value="" (valueChange)="interF = iF.value">
            <mat-option [value]="interFace" *ngFor="let interFace of interFaces">{{ interFace }}</mat-option>
          </mat-select>
        </mat-form-field>
        <span>/0/</span>
        <mat-form-field appearance="fill" class="interface">
          <mat-select disableRipple #sl value="" (valueChange)="slt = sl.value">
            <mat-option [value]="slot" *ngFor="let slot of slots">{{ slot }}</mat-option>
          </mat-select>
        </mat-form-field>
      </strong>
    </div>
    <!--interface Cable attributes-->
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Interface Cable attribites
          </mat-panel-title>
          <mat-panel-description>
            Click to {{panelOpenState ? 'close' : 'open'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--Description-->
        <div class="div__line">
          <span>description</span>&nbsp;
          <input type="text" #descText>&nbsp;
          <mat-checkbox #descNo (change)="!descNo.checked ? true : descText.value = ''">No |</mat-checkbox>&nbsp;
          <mat-checkbox #descChange (change)="inputText(descChange.checked, ' description ' + descText.value, descNo.checked)">
            To change
          </mat-checkbox>&nbsp;
        </div>
        <!--Load-interval-->
        <div class="div__line">
          <span>load-interval</span>&nbsp;      
          <input type="text" #loadText [value]="30" class="short__input">&nbsp;
          <mat-checkbox #loadChange (change)="inputChange(loadChange.checked, ' load-interval ' + loadText.value)">
            | To change
          </mat-checkbox>
        </div>
        <!--Downstream channels-->
        <app-down-stream [interF]="iF.value" [slt]="sl.value"></app-down-stream>
        <!--Upstream channels-->
        <app-up-stream [interF]="iF.value" [slt]="sl.value*2" [us]=0></app-up-stream>
        <app-up-stream [interF]="iF.value" [slt]="sl.value*2+1" [us]=0></app-up-stream>
        <!--Power adjust-->
        <div class="div__line">
          <strong>Setting power-adjust?</strong>&nbsp;
          <mat-checkbox #pa (change)="powerAdjust(pa.checked)">(yes)</mat-checkbox>
        </div>
        <div class="div__line" *ngIf="pa.checked">
          <div *ngFor="let upStream of upStreams">
            <span>cable upstream {{upStream}} power-adjust continue</span>&nbsp;
            <input type="text" #paText class="short__input" value="6">&nbsp;
            <span>|</span>&nbsp;
            <mat-checkbox #pa1 (change)="inputChange(pa1.checked, ' cable upstream ' + upStream + ' power-adjust continue ' + paText.value)">To change</mat-checkbox>
          </div>
        </div>
        <!--Balance scheduling-->
        <div class="div__line">
          <span #schText>cable upstream balance-scheduling</span>&nbsp;
          <mat-checkbox #schNo>No |</mat-checkbox>&nbsp;
          <mat-checkbox #schChange (change)="inputText(schChange.checked, ' cable upstream balance-scheduling', schNo.checked)">To change</mat-checkbox>
        </div>
        <!--Bonding group-->
        <app-bonding-group></app-bonding-group>
        <!--cable bundle-->
        <div class="div__line">
          <span>cable bundle</span>&nbsp;
          <input type="text" #bundleText value="2" class="short__input">&nbsp;
          <mat-checkbox #bundleNo>No |</mat-checkbox>&nbsp;
          <mat-checkbox #bundle (change)="inputText(bundle.checked, ' cable bundle ' + bundleText.value, bundleNo.checked)">To change</mat-checkbox>&nbsp;
        </div>
        <!--dynamic-secret-->
        <div class="div__line">
          <span>cable dynamic-secret</span>&nbsp;
          <input type="text" #secretText value="reject" class="midd__input">&nbsp;
          <mat-checkbox #secretNo (change)="!secretNo.checked ? true : secretText.value = ''">No |</mat-checkbox>&nbsp;
          <mat-checkbox #secret (change)="inputText(secret.checked, ' cable dynamic-secret ' + secretText.value, secretNo.checked)">To change</mat-checkbox>&nbsp;
        </div>
        <!--enable-trap-->
        <div class="div__line">
          <span>cable enable-trap</span>&nbsp;<!--Revisar ejecusion-->
          <input type="text" #trapText value="cmonoff-notification" class="middplus__input">&nbsp;
          <mat-checkbox #trapNo (change)="!trapNo.checked ? true : trapText.value = ''">No |</mat-checkbox>&nbsp;
          <mat-checkbox #trap (change)="inputText(trap.checked, ' cable enable-trap ' + trapText.value, trapNo.checked)">To change</mat-checkbox>
        </div>
        <!--trap-interval-->
        <div class="div__line">
          <span>cable enable-trap cmonoff-interval</span>&nbsp;<!--Revisar ejecusion-->
          <input type="text" #trapiText value="1200" class="midd__input">&nbsp;
          <mat-checkbox #trapiNo (change)="!trapiNo.checked ? true : trapiText.value = ''">No |</mat-checkbox>&nbsp;
          <mat-checkbox #trapi (change)="inputText(trapi.checked, ' cable enable-trap cmonoff-interval ' + trapiText.value, trapiNo.checked)">To change</mat-checkbox>&nbsp;
        </div>
        <!--registration-timeout-->
        <div class="div__line">
          <span>cable registration-timeout</span>&nbsp;
          <input type="text" value="2" class="short__input">&nbsp;
          <mat-checkbox #timeoutNo>No |</mat-checkbox>&nbsp;
          <mat-checkbox #timeout (change)="inputText(timeout.checked, ' cable registration-timeout ' + timeout.value, timeoutNo.checked)">To change</mat-checkbox>
        </div>
        <!--privacy mandatory-->
        <div class="div__line">
          <span>cable privacy mandatory</span>&nbsp;
          <mat-checkbox #privacyNo>No |</mat-checkbox>&nbsp;
          <mat-checkbox #privacy (change)="inputText(privacy.checked, ' cable privacy mandatory', privacyNo.checked)">To change</mat-checkbox>
        </div>
        <!--bpi-plus-policy-->
        <div class="div__line">
          <span>cable privacy bpi-plus-policy</span>&nbsp;
          <input type="text" #bpiText value="capable-enforcement" class="middplus__input">&nbsp;
          <mat-checkbox #bpiNo (change)="!bpiNo.checked ? true : bpiText.value = ''">No |</mat-checkbox>&nbsp;
          <mat-checkbox #bpi (change)="inputText(bpi.checked, ' cable privacy bpi-plus-policy ' + bpiText.value, bpiNo.checked)">To change</mat-checkbox>
        </div>
        <!--hold-queue in-->
        <div class="div__line">
          <span>hold-queue</span>&nbsp;
          <input type="text" #holdInText value="2048" class="midd__input">&nbsp;
          <span>in</span>&nbsp;
          <mat-checkbox #holdInNo>No |</mat-checkbox>&nbsp;
          <mat-checkbox #holdIn (change)="inputText(holdIn.checked, ' cable privacy mandatory ' + holdInText.value, holdInNo.checked)">To change</mat-checkbox>
        </div>
        <!--hold-queue out-->
        <div class="div__line">
          <span>hold-queue</span>&nbsp;
          <input type="text" #holdOutText value="2048" class="midd__input">&nbsp;
          <span>out</span>&nbsp;
          <mat-checkbox #holdOutNo>No |</mat-checkbox>&nbsp;
          <mat-checkbox #holdOut (change)="inputText(holdOut.checked, ' cable privacy mandatory ' + holdOutText.value, holdOutNo.checked)">To change</mat-checkbox>
        </div>
        <!--shutdown-->
        <div class="div__line">
          <span>shutdown</span>&nbsp;
          <mat-checkbox #shutNo>No |</mat-checkbox>&nbsp;
          <mat-checkbox #shut (change)="inputText(shut.checked, ' shutdown', shutNo.checked)">To change</mat-checkbox>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <!--Interface Wideband-Cable-->
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>
              <span>Interfaces Wideband-Cable</span>
            </strong>
          </mat-panel-title>
          <mat-panel-description>
            Click to {{panelOpenState ? 'close' : 'open'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-wide-band [interF]="iF.value" [slt]="sl.value" [description]="descText.value"></app-wide-band>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <!--controller Integrated-Cable-->
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>
              <span>controller Integrated-Cable</span>
            </strong>
          </mat-panel-title>
          <mat-panel-description>
            Click to {{panelOpenState ? 'close' : 'open'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-integrated-cable [interF]="iF.value" [slt]="sl.value" [description]="descText.value"></app-integrated-cable>
      </mat-expansion-panel>
    </mat-accordion>



    <br><br>

    <!--Generar script-->
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="generate()" (click)="showScript = true">
        Generate script
      </button>
      <div class="div__line">
      <textarea id="script" *ngIf="showScript">{{script}}</textarea>
    </div>
    </mat-card-actions>
  </mat-card>
</div>
