.container{
    max-width: 80%;
    margin: auto;
}

.interface{
    max-width: 60px;
    max-height: 10px;
}

.div__interface{
    margin-top: 10px;
    margin-bottom: 20px;
    span{
        font-size: 1.5em;
    }
}

.div__line{
    margin-top: 5px;
}

.short__input{
    width: 20px;
}