<div class="div__line">
    <span>interface Wideband-Cable</span>
    <span>{{interF}}/0/{{slt}}:</span>
    <input type="text" #wB class="short__input">&nbsp;
    <mat-checkbox #wbNo>No |</mat-checkbox>&nbsp;
    <mat-checkbox #wbChange (change)="inputText(wbChange.checked, '\ninterface Wideband-Cable' + interF + '/0/' + slt + ':' + wB.value, wbNo.checked)">
        To change |
    </mat-checkbox>&nbsp;
    <mat-checkbox #wbOther>Other</mat-checkbox>&nbsp;
  </div>
  <!--description-->
  <div class="div__line">&nbsp;
    <span>description</span>&nbsp;
    <input type="text" #descText [value]="description" [disabled]="!wbChange.checked">&nbsp;
    <mat-checkbox #descNo (change)="!descNo.checked ? true : descText.value = ''" [disabled]="!wbChange.checked">No |</mat-checkbox>&nbsp;
    <mat-checkbox #descChange (change)="inputText(descChange.checked, ' description ' + descText.value, descNo.checked)" [disabled]="!wbChange.checked">
      To change
    </mat-checkbox>&nbsp;
  </div>
  <!--cable bundle-->
  <div class="div__line">&nbsp;
    <span>cable bundle</span>&nbsp;
    <input type="text" #bundleText value="2" class="short__input" [disabled]="!wbChange.checked">&nbsp;
    <mat-checkbox #bundleNo (change)="!bundleNo.checked ? true : bundleText.value = ''" [disabled]="!wbChange.checked">No |</mat-checkbox>&nbsp;
    <mat-checkbox #bundleChange (change)="inputText(bundleChange.checked, ' cable bundle ' + bundleText.value, bundleNo.checked)" [disabled]="!wbChange.checked">
      To change
    </mat-checkbox>&nbsp;
  </div>
  <!--rf-channels-->
  <div class="div__line">&nbsp;
    <span>cable rf-channels channel-list</span>&nbsp;
    <input type="text" #rfChStart class="short__input" [disabled]="!wbChange.checked">
    <span>-</span>
    <input type="text" #rfChEnd class="short__input" [disabled]="!wbChange.checked">&nbsp;
    <span>bandwidth-percent</span>&nbsp;
    <input type="text" value="1" #percentText class="short__input" [disabled]="!wbChange.checked">&nbsp;
    <mat-checkbox #rfChNo [disabled]="!wbChange.checked">No |</mat-checkbox>&nbsp;
    <mat-checkbox #rfChChange (change)="inputText(rfChChange.checked, ' cable rf-channels channel-list ' + rfChStart.value + '-' + rfChEnd.value + ' bandwidth-percent 1', rfChNo.checked)" [disabled]="!wbChange.checked">
      To change
    </mat-checkbox>&nbsp;
  </div>
  <div class="div__line">
    <app-wide-band [interF]="interF" [slt]="slt" [description]="description" *ngIf="wbOther.checked; else noCheck"></app-wide-band>
    <ng-template #noCheck></ng-template>
  </div>
