<!--cm-->
<div class="div__line__pri">
    <mat-checkbox color="primary" #cmUpdate (change)="addCmCommand(cmUpdate.checked)">
        cm{{interF}}0{{slt}}
    </mat-checkbox>&nbsp;
</div>
<!--cmp-->
<div class="div__line__pri">
    <mat-checkbox color="primary" #cmpUpdate (change)="addCmpCommand(cmpUpdate.checked)">
        cmp{{interF}}0{{slt}}
    </mat-checkbox>&nbsp;
</div>
<!--f-->
<div class="div__line__pri">
    <mat-checkbox color="primary" #fUpdate (change)="addFCommand(fUpdate.checked)">
        f{{interF}}0{{slt}}
    </mat-checkbox>&nbsp;
</div>