<!--fiber node-->
<div class="div__subinterface">
    <strong>
        static bonding-groups correction (Only V2)
    </strong>
</div>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            static bonding-groups correction atrributes
        </mat-panel-title>
        <mat-panel-description>
          Click to {{panelOpenState ? 'close' : 'open'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-radio-group aria-label="Select an option">
        <!--None-->
        <div class="div__line__pri">
            <mat-radio-button class="bonding__radio" value="1" (change)="
            inputCommand('', pos);
            inputCommand('', pos + 1);
            inputCommand('', pos + 2)">
                None
            </mat-radio-button>
        </div>
        <!--32 carriers-->
        <div class="div__line__pri">
            <mat-radio-button class="bonding__radio" value="2" (change)="
                inputCommand('no cable downstream-bonding-group 65015', pos);
                inputCommand('cable downstream-bonding-group 65015 cable-downstream ' + downIf + '/' + downSif + '/8-31', pos + 1);
                inputCommand('', pos + 2)">
                32 carriers
            </mat-radio-button>
        </div>
        <div class="div__line__sec">
            <p>no cable downstream-bonding-group 65015</p>
            <p>cable downstream-bonding-group 65015 cable-downstream {{downIf}}/{{downSif}}/8-31</p>
        </div>
        <!--40 carriers-->
        <div class="div__line__pri">
            <mat-radio-button class="bonding__radio" value="3" (change)="
            inputCommand('no cable downstream-bonding-group 65018', pos);
            inputCommand('no cable downstream-bonding-group 65019', pos + 1);
            inputCommand('cable downstream-bonding-group 65018 cable-downstream ' + downIf + '/' + downSif + '/16-39', pos + 2)">
                40 carriers
            </mat-radio-button>
        </div>
        <div class="div__line__sec">
            <p>no cable downstream-bonding-group 65018</p>
            <p>no cable downstream-bonding-group 65019</p>
            <p>cable downstream-bonding-group 65018 cable-downstream {{downIf}}/{{downSif}}/16-39<p>
        </div>
        <!--48 carriers-->
        <div class="div__line__pri">
            <mat-radio-button class="bonding__radio" value="4" (change)="
            inputCommand('no cable downstream-bonding-group 65023', pos);
            inputCommand('no cable downstream-bonding-group 65024', pos + 1);
            inputCommand('', pos + 2)">
                48 carriers
            </mat-radio-button>
        </div>
        <div class="div__line__sec">
            <p>no cable downstream-bonding-group 65023</p>
            <p>no cable downstream-bonding-group 65024</p>
        </div>
    </mat-radio-group>
    </mat-expansion-panel>
</mat-accordion>
