<!--service group-->
<div class="div__line__pri">
  <mat-checkbox #sgUpdate color="primary" (change)="
      addServiceCommand(sgUpdate.checked)">
    service group {{mac}}{{sec}}
  </mat-checkbox>
</div>
<div *ngIf="sgUpdate.checked">
  <!--description-->
  <div class="div__line__sec">
    <mat-checkbox #descUpdate color="primary" (change)="descUpdate.checked ? false : descNo.checked = false;
      addDescCommand(descUpdate.checked, descNo.checked, descText.value)">
      description
    </mat-checkbox>&nbsp;
    <input type="text" #descText [value]="desc" [disabled]="descNo.checked" (blur)="       
      addDescCommand(descUpdate.checked, descNo.checked, descText.value)">&nbsp;
    <mat-checkbox #descNo (change)="descNo.checked ? descText.value = '' : false;
      addDescCommand(descUpdate.checked, descNo.checked, descText.value)">
      No
    </mat-checkbox>
  </div>
  <!--quams-->
  <div class="scroll__div">
    <div class="div__line__sec" *ngFor="let channel of channels">
      <mat-checkbox #qamUpdate color="primary" (change)="qamUpdate.checked ? false : qamNo.checked = false;
        addQamCommand(qamUpdate.checked, qamNo.checked, channel)">
        qam {{ifDown}}/{{sifDown}}/{{channel}}
      </mat-checkbox>&nbsp;
      <mat-checkbox #qamNo (change)="
        addQamCommand(qamUpdate.checked, qamNo.checked, channel)">
        No
      </mat-checkbox>
    </div>
  </div>
  <!--ups-->
  <div class="div__line__sec" *ngFor="let up of ups">
    <mat-checkbox #upUpdate color="primary" (change)="upUpdate.checked ? false : upNo.checked = false;
      addUpCommand(upUpdate.checked, upNo.checked, up)">
      upstream {{ifUp}}/{{sifUp}}/{{up}}
    </mat-checkbox>&nbsp;
    <mat-checkbox #upNo (change)="
      addUpCommand(upUpdate.checked, upNo.checked, up)">
      No
    </mat-checkbox>
  </div>

</div>
