<div class="div__line__pri">
    <mat-checkbox #usChange color="primary" (change)="usChange.checked ? false : usNo.checked = false;
      addCommand(usChange.checked, usNo.checked)">
      upstream {{up}} interface upstream {{interface}}/{{subinterface}}.{{slot}}/0
    </mat-checkbox>&nbsp;
    <mat-checkbox #usNo (change)="
      addCommand(usChange.checked, usNo.checked)">
    No
    <span #usOther *ngIf="slot === slts - 1">
        |
        <mat-checkbox #add (change)="add.checked ? addUpstream(up + 1) : false">
            Add upstream
        </mat-checkbox> 
    </span>
  </mat-checkbox>&nbsp;
</div>

