<div class="div__line__pri">
    <mat-checkbox #usChange color="primary" (change)="usChange.checked ? false : usNo.checked = false;
      addCommand(usChange.checked, usNo.checked)">
      upstream {{up}} interface upstream {{interface}}/{{subinterface}}.{{slot}}/0
    </mat-checkbox>&nbsp;
    <mat-checkbox #usNo (change)="
      addCommand(usChange.checked, usNo.checked)">
    No
  </mat-checkbox>&nbsp;
  <button *ngIf="slot === slts - 1" (click)="addUpstream(up + 1)">Add upstream</button>
</div>

