<div class="scroll__div">
  <div class="div__line__pri">
    <mat-checkbox #controllerChange color="primary" (change)="carrierChange.checked = false; baseChange.checked= false;
    descChange.checked = false; shutDownStart.checked = false; controllerChange.checked ? false : descNo.checked = false;
    shutDownEnd.checked = false;
    addInterfaceCommand(controllerChange.checked);
    addShutStartCommand(shutDownStart.checked);
    addCarrierCommand(carrierChange.checked, carrierText.value);
    addBaseCommand(baseChange.checked, baseText.value);
    addDescCommand(descChange.checked, descText.value, descNo.checked);
    addShutEndCommand(shutDownEnd.checked)">
      controller Integrated-Cable {{interF}}/0/{{slt}}
    </mat-checkbox>
  </div>
  <!--shutdown-->
  <div class="div__line__sec">
    <mat-checkbox #shutDownStart color="primary" [disabled]="!controllerChange.checked" (change)="
    addShutStartCommand(shutDownStart.checked)">
      shutdown
    </mat-checkbox>
  </div>
  <!--max-carrier-->
  <div class="div__line__sec">
    <mat-checkbox #carrierChange color="primary" [disabled]="!controllerChange.checked" (change)="
    addCarrierCommand(carrierChange.checked, carrierText.value)">
      max-carrier
    </mat-checkbox>&nbsp;
    <input type="text" #carrierText class="short__input" [disabled]="!controllerChange.checked" (blur)="
    addCarrierCommand(carrierChange.checked, carrierText.value)">&nbsp;
  </div>
  <!--base-channel-power-->
  <div class="div__line__sec">
    <mat-checkbox #baseChange color="primary" [disabled]="!controllerChange.checked" (change)="
    addBaseCommand(baseChange.checked, baseText.value)">
      base-channel-power
    </mat-checkbox>&nbsp;
    <input type="text" #baseText class="short__input" value="35" [disabled]="!controllerChange.checked" (blur)="
    addBaseCommand(baseChange.checked, baseText.value)">&nbsp;
  </div>
  <!--rf-chan-->
  <app-rf-chan *ngIf="controllerChange.checked; else noRf" [checked]="controllerChange.checked" [pos]="pos+10">
  </app-rf-chan>
  <ng-template #noRf>
    <app-rf-chan [checked]="controllerChange.checked" [pos]="pos+10">{{inputNoRfChn(pos+10)}}</app-rf-chan>
  </ng-template>
  <!--description-->
  <div class="div__line__sec">
    <mat-checkbox #descChange color="primary" [disabled]="!controllerChange.checked" (change)="descChange.checked ? false : descNo.checked = false;
    addDescCommand(descChange.checked, descText.value, descNo.checked)">
      description
    </mat-checkbox>&nbsp;
    <input type="text" #descText [value]="description" [disabled]="!controllerChange.checked" (blur)="
    addDescCommand(descChange.checked, descText.value, descNo.checked)">&nbsp;
    <mat-checkbox #descNo (change)="descNo.checked ? descText.value = '' : false" [disabled]="!controllerChange.checked"
      (change)="
    addDescCommand(descChange.checked, descText.value, descNo.checked)">
      No
    </mat-checkbox>&nbsp;
  </div>
  <!--shutdown-->
  <div class="div__line__sec">
    <mat-checkbox #shutDownEnd color="primary" [disabled]="!controllerChange.checked" (change)="
    addShutEndCommand(shutDownEnd.checked)">
      no shutdown
    </mat-checkbox>
  </div>
</div>