<div class="div__line">
    <span>controller Integrated-Cable</span>&nbsp;
    <span>{{interF}}/0/{{slt}}</span>&nbsp;
    <mat-checkbox #controllerChange (change)="inputText(controllerChange.checked, '\ninterface Wideband-Cable' + interF + '/0/' + slt, false)">
        To change
    </mat-checkbox>
</div>
<!--max-carrier-->
<div class="div__line">&nbsp;
    <span>max-carrier</span>&nbsp;
    <input type="text" #carrierText class="short__input" [disabled]="!controllerChange.checked">&nbsp;
    <mat-checkbox #carrierChange (change)="inputText(carrierChange.checked, ' max-carrier ' + carrierText.value, false)" [disabled]="!controllerChange.checked">
      To change
    </mat-checkbox>&nbsp;
</div>
<!--base-channel-power-->
<div class="div__line">&nbsp;
    <span>base-channel-power</span>&nbsp;
    <input type="text" #baseText class="short__input" value="35" [disabled]="!controllerChange.checked">&nbsp;
    <mat-checkbox #baseChange (change)="inputText(baseChange.checked, ' base-channel-power ' + baseText.value, false)" [disabled]="!controllerChange.checked">
      To change
    </mat-checkbox>&nbsp;
</div>
<!--rf-chan-->
<app-rf-chan [checked]="controllerChange.checked"></app-rf-chan>
<!--description-->
<div class="div__line">&nbsp;
  <span>description</span>&nbsp;
  <input type="text" #descText [value]="description" [disabled]="!controllerChange.checked">&nbsp;
  <mat-checkbox #descNo (change)="!descNo.checked ? true : descText.value = ''" [disabled]="!controllerChange.checked">No |</mat-checkbox>&nbsp;
  <mat-checkbox #descChange (change)="inputText(descChange.checked, ' description ' + descText.value, descNo.checked)" [disabled]="!controllerChange.checked">
    To change
  </mat-checkbox>&nbsp;
</div>
<!--shutdown-->
<div class="div__line">&nbsp;
  <span>shutdown</span>&nbsp;
  <mat-checkbox #shutNo [disabled]="!controllerChange.checked">No |</mat-checkbox>&nbsp;
  <mat-checkbox #shut (change)="inputText(shut.checked, ' shutdown', shutNo.checked)" [disabled]="!controllerChange.checked">
    To change
  </mat-checkbox>
</div>

