<!--fiber node-->
<div class="div__subinterface">
    <strong>
        cable fiber-node {{sec}}
    </strong>
</div>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            cable fiber-node atrributes
        </mat-panel-title>
        <mat-panel-description>
          Click to {{panelOpenState ? 'close' : 'open'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!--cable fiber-node-->
      <div class="div__line__pri">
        <mat-checkbox #fiberUpdate color="primary" (change)="          
            fiberUpdate.checked ? !fiberNo.checked
                ? inputCommand('\ncable fiber-node ' + quot + mac  + sec + quot, pos) 
                : inputCommand('\nno cable fiber-node ' + quot + mac  + sec + quot, pos)
            : inputCommand('', pos)">
            cable fiber-node "{{mac}}{{sec}}"
        </mat-checkbox>&nbsp;
        <mat-checkbox #fiberNo color="accent" (change)="          
            fiberUpdate.checked ? !fiberNo.checked
                ? inputCommand('\ncable fiber-node ' + quot + mac  + sec + quot, pos) 
                : inputCommand('\nno cable fiber-node ' + quot + mac  + sec + quot, pos)
            : inputCommand('', pos)">
            No
        </mat-checkbox>&nbsp;
      </div>
      <!--init-->
      <div class="div__line__sec">
        <mat-checkbox #initUpdate color="primary" [disabled]="!fiberUpdate.checked" (change)="          
            initUpdate.checked ? !initNo.checked
                ? inputCommand(' init', pos + 1) 
                : inputCommand(' no init', pos + 1)
            : inputCommand('', pos + 1)">
            init
        </mat-checkbox>&nbsp;
        <mat-checkbox #initNo color="accent" [disabled]="!fiberUpdate.checked" (change)="          
            initUpdate.checked ? !initNo.checked
                ? inputCommand(' init', pos + 1) 
                : inputCommand(' no init', pos + 1)
            : inputCommand('', pos + 1)">
            No
        </mat-checkbox>
      </div>
      <!--description-->
      <div class="div__line__sec">
        <mat-checkbox #descUpdate color="primary" [disabled]="!fiberUpdate.checked" (change)="          
            descUpdate.checked ? !descNo.checked
                ? inputCommand(' description ' + quot + descText.value + quot, pos + 2) 
                : inputCommand(' no description', pos + 2)
            : inputCommand('', pos + 2)">
            desctription
        </mat-checkbox>&nbsp;
        <input type="text" #descText [value]="desc" [disabled]="!fiberUpdate.checked" (blur)="
            descUpdate.checked ? !descNo.checked
                ? inputCommand(' description ' + quot + descText.value + quot, pos + 2) 
                : inputCommand(' no description', pos + 2)
            : inputCommand('', pos + 2)">&nbsp;
        <mat-checkbox #descNo color="accent" [disabled]="!fiberUpdate.checked" (change)="descNo.checked ? descText.value = '' : false;        
            descUpdate.checked ? !descNo.checked
                ? inputCommand(' description ' + quot + descText.value + quot, pos + 2) 
                : inputCommand(' no description', pos + 2)
            : inputCommand('', pos + 2)">
            No
        </mat-checkbox>
      </div>
      <!--cable-downstream-->
      <div class="div__line__sec">
        <mat-checkbox #downUpdate color="primary" [disabled]="!fiberUpdate.checked" (change)="          
            downUpdate.checked ? !downNo.checked
                ? inputCommand(' cable-downstream ' + downstream, pos + 3) 
                : inputCommand(' no cable-downstream ' + downstream, pos + 3)
            : inputCommand('', pos + 3)">
            cable-downstream {{downstream}}
        </mat-checkbox>&nbsp;
        <mat-checkbox #downNo color="accent" [disabled]="!fiberUpdate.checked" (change)="          
            downUpdate.checked ? !downNo.checked
                ? inputCommand(' cable-downstream ' + downstream, pos + 3) 
                : inputCommand(' no cable-downstream ' + downstream, pos + 3)
            : inputCommand('', pos + 3)">
            No
        </mat-checkbox>
      </div>
      <!--cable-upstream-->
      <div class="div__line__sec">
        <mat-checkbox #upUpdate color="primary" [disabled]="!fiberUpdate.checked" (change)="          
            upUpdate.checked ? !upNo.checked
                ? inputCommand(' cable-upstream ' + upstream, pos + 4) 
                : inputCommand(' no cable-upstream ' + upstream, pos + 4)
            : inputCommand('', pos + 4)">
            cable-upstream {{upstream}}
        </mat-checkbox>&nbsp;
        <mat-checkbox #upNo color="accent" [disabled]="!fiberUpdate.checked" (change)="          
            upUpdate.checked ? !upNo.checked
                ? inputCommand(' cable-upstream ' + upstream, pos + 4) 
                : inputCommand(' no cable-upstream ' + upstream, pos + 4)
            : inputCommand('', pos + 4)">
            No
        </mat-checkbox>
      </div>
      <!--policy-->
      <div class="div__line__sec">
        <mat-checkbox #policyUpdate color="primary" [disabled]="!fiberUpdate.checked" (change)="          
            policyUpdate.checked ? !policyNo.checked
                ? inputCommand(' cable-mac ' + mac + ' load-balance policy ' + policyText.value, pos + 5) 
                : inputCommand(' no cable-mac ' + mac + ' load-balance policy', pos + 5)
            : inputCommand('', pos + 5)">
            cable-mac {{mac}} load-balance policy 
        </mat-checkbox>&nbsp;
        <input type="text" #policyText class="short__input" [disabled]="!fiberUpdate.checked" value="1" (blur)="
            policyUpdate.checked ? !policyNo.checked
                ? inputCommand(' cable-mac ' + mac + ' load-balance policy ' + policyText.value, pos + 5) 
                : inputCommand(' no cable-mac ' + mac + ' load-balance policy', pos + 5)
            : inputCommand('', pos + 5)">&nbsp;
        <mat-checkbox #policyNo color="accent" [disabled]="!fiberUpdate.checked" (change)="policyNo.checked ? policyText.value = '' : false;        
            policyUpdate.checked ? !policyNo.checked
                ? inputCommand(' cable-mac ' + mac + ' load-balance policy ' + policyText.value, pos + 5) 
                : inputCommand(' no cable-mac ' + mac + ' load-balance policy', pos + 5)
            : inputCommand('', pos + 5)">
            No
        </mat-checkbox>
      </div>
      <!--init-technique-->
      <div class="div__line__sec">
        <mat-checkbox #techUpdate color="primary" [disabled]="!fiberUpdate.checked" (change)="          
            techUpdate.checked ? !techNo.checked
                ? inputCommand(' cable-mac ' + mac + ' load-balance init-technique ' + techText.value, pos + 6) 
                : inputCommand(' no cable-mac ' + mac + ' load-balance init-technique', pos + 6)
            : inputCommand('', pos + 6)">
            cable-mac {{mac}} load-balance init-technique 
        </mat-checkbox>&nbsp;
        <input type="text" #techText class="midd__input" [disabled]="!fiberUpdate.checked" value="direct" (blur)="
            techUpdate.checked ? !techNo.checked
                ? inputCommand(' cable-mac ' + mac + ' load-balance init-technique ' + techText.value, pos + 6) 
                : inputCommand(' no cable-mac ' + mac + ' load-balance init-technique', pos + 6)
            : inputCommand('', pos + 6)">&nbsp;
        <mat-checkbox #techNo color="accent" [disabled]="!fiberUpdate.checked" (change)="techNo.checked ? techText.value = '' : false;        
            techUpdate.checked ? !techNo.checked
                ? inputCommand(' cable-mac ' + mac + ' load-balance init-technique ' + techText.value, pos + 6) 
                : inputCommand(' no cable-mac ' + mac + ' load-balance init-technique', pos + 6)
            : inputCommand('', pos + 6)">
            No
        </mat-checkbox>
      </div>
    </mat-expansion-panel>
</mat-accordion>
    
