<div class="container">
    <mat-card>
      <mat-card-title>E6000</mat-card-title>
      <mat-card-subtitle>Arris</mat-card-subtitle>
      <!--interface cable-mac-->
      <div class="div__interface">
        <mat-checkbox #interFaceUpdate color="primary" (change)="
          interFaceUpdate.checked ? false : interfaceNo.checked = false;
          interFaceUpdate.checked ? false : shutStartUpdate.checked = false;
          interFaceUpdate.checked ? false : descUpdate.checked = false;
          interFaceUpdate.checked ? false : maxUpdate.checked = false;
          interFaceUpdate.checked ? false : rangeUpdate.checked = false;
          interFaceUpdate.checked ? false : tcsUpdate.checked = false;
          interFaceUpdate.checked ? false : tftpUpdate.checked = false;
          interFaceUpdate.checked ? false : dynamicUpdate.checked = false;
          interFaceUpdate.checked ? false : modeUpdate.checked = false;
          interFaceUpdate.checked ? false : rcpUpdate.checked = false;
          interFaceUpdate.checked ? false : rccUpdate.checked = false;
          interFaceUpdate.checked ? false : downbgUpdate.checked = false;
          interFaceUpdate.checked ? false : upbgUpdate.checked = false;
          interFaceUpdate.checked ? false : multUpdate.checked = false;
          interFaceUpdate.checked ? false : privacyUpdate.checked = false;
          interFaceUpdate.checked ? false : genUpdate.checked = false;
          interFaceUpdate.checked ? false : shutEndtUpdate.checked = false;
          addMacCommand(interFaceUpdate.checked)">
        </mat-checkbox>&nbsp;
        <strong>
          <span>interface cable-mac</span>&nbsp;
          <input type="text" class="mac__input" #macText (blur)="mac  = macText.value;
            addMacCommand(interFaceUpdate.checked); addNoMacCommand(interfaceNo.checked)">&nbsp;
          <mat-checkbox #interfaceNo (change)="
            addNoMacCommand(interfaceNo.checked); addNoMacCommand(interfaceNo.checked)">
            No
          </mat-checkbox>
        </strong>
      </div>
      <!--interface cable-mac attributes-->
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenStateAtt = true" (closed)="panelOpenStateAtt = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              interface cable-mac attributes
            </mat-panel-title>
            <mat-panel-description>
              Click to {{panelOpenStateAtt ? 'close' : 'open'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!--Cable-mac templates toolbar-->
          <mat-toolbar class="template__toolbar">
            <mat-toolbar-row>
              <strong>Templates:</strong>
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1" class="template__radio" (change)="interFaceUpdate.checked = false;
                  interfaceNo.checked = false; shutStartUpdate.checked = false; descUpdate.checked = false;
                  descText.value = ''; descNo.checked = false; maxUpdate.checked = false; maxText.value = '85';
                  rangeUpdate.checked = false; rangeText.value = 'Extended'; rangeNo.checked = false;
                  tcsUpdate.checked = false; tcsText.value = '2'; tcsNo.checked = false;
                  tftpUpdate.checked = false; tftpNo.checked = false; dynamicUpdate.checked = false;
                  dynamicText.value = 'mark'; dynamicNo.checked = false; modeUpdate.checked = false;
                  modeText.value = 'ipv4only'; modeNo.checked = false; rcpUpdate.checked = false;
                  rcpNo.checked = false; rccUpdate.checked = false; rccNo.checked = false;
                  downbgUpdate.checked = false; downbgSelect.value = 'enable'; upbgUpdate.checked = false;
                  upbgSelect.value = 'enable'; multUpdate.checked = false; multNo.checked = false;
                  privacyUpdate.checked = false; privacyText.value = 'bpi-plus'; privacyNo.checked = false;
                  genUpdate.checked = false; shutEndtUpdate.checked = false; maxNo.checked = false;
                  addShutStartCommand(shutStartUpdate.checked);
                  addDescCommand(descUpdate.checked, descText.value, descNo.checked);
                  addMaxCommand(maxUpdate.checked, maxText.value, maxNo.checked);
                  addRangeCommand(rangeUpdate.checked, rangeText.value, rangeNo.checked);
                  addTcsCommand(tcsUpdate.checked, tcsText.value, tcsNo.checked);
                  addTftpCommand(tftpUpdate.checked, tftpNo.checked);
                  addDynamicCommand(dynamicUpdate.checked, dynamicText.value, dynamicNo.checked);
                  addModeCommand(modeUpdate.checked, modeText.value, modeNo.checked);
                  addRcpCommand(rcpUpdate.checked, rcpNo.checked);
                  addRccCommand(rccUpdate.checked, rccNo.checked);
                  addDownbgCommand(downbgUpdate.checked, downbgSelect.value);
                  addUpbgCommand(upbgUpdate.checked, upbgSelect.value);
                  addMultCommand(multUpdate.checked, multNo.checked);
                  addPrivacyCommand(privacyUpdate.checked, privacyText.value,  privacyNo.checked);
                  addGenerateCommand(genUpdate.checked);
                  addShutEndCommand(shutEndtUpdate.checked);
                  addNoMacCommand(interfaceNo.checked)">
                  None
                </mat-radio-button>
                <mat-radio-button value="2" class="template__radio" (change)="interFaceUpdate.checked = true;
                  interfaceNo.checked = true; shutStartUpdate.checked = true; descUpdate.checked = false;
                  descText.value = ''; descNo.checked = false; maxUpdate.checked = false; maxText.value = '85';
                  rangeUpdate.checked = false; rangeText.value = 'Extended'; rangeNo.checked = false;
                  tcsUpdate.checked = false; tcsText.value = '2'; tcsNo.checked = false;
                  tftpUpdate.checked = false; tftpNo.checked = false; dynamicUpdate.checked = false;
                  dynamicText.value = 'mark'; dynamicNo.checked = false; modeUpdate.checked = false;
                  modeText.value = 'ipv4only'; modeNo.checked = false; rcpUpdate.checked = false;
                  rcpNo.checked = false; rccUpdate.checked = false; rccNo.checked = false;
                  downbgUpdate.checked = false; downbgSelect.value = 'enable'; upbgUpdate.checked = false;
                  upbgSelect.value = 'enable'; multUpdate.checked = false; multNo.checked = false;
                  privacyUpdate.checked = false; privacyText.value = 'bpi-plus'; privacyNo.checked = false;
                  genUpdate.checked = false; shutEndtUpdate.checked = false; maxNo.checked = false;
                  addShutStartCommand(shutStartUpdate.checked);
                  addDescCommand(descUpdate.checked, descText.value, descNo.checked);
                  addMaxCommand(maxUpdate.checked, maxText.value, maxNo.checked);
                  addRangeCommand(rangeUpdate.checked, rangeText.value, rangeNo.checked);
                  addTcsCommand(tcsUpdate.checked, tcsText.value, tcsNo.checked);
                  addTftpCommand(tftpUpdate.checked, tftpNo.checked);
                  addDynamicCommand(dynamicUpdate.checked, dynamicText.value, dynamicNo.checked);
                  addModeCommand(modeUpdate.checked, modeText.value, modeNo.checked);
                  addRcpCommand(rcpUpdate.checked, rcpNo.checked);
                  addRccCommand(rccUpdate.checked, rccNo.checked);
                  addDownbgCommand(downbgUpdate.checked, downbgSelect.value);
                  addUpbgCommand(upbgUpdate.checked, upbgSelect.value);
                  addMultCommand(multUpdate.checked, multNo.checked);
                  addPrivacyCommand(privacyUpdate.checked, privacyText.value,  privacyNo.checked);
                  addGenerateCommand(genUpdate.checked);
                  addShutEndCommand(shutEndtUpdate.checked);
                  addNoMacCommand(interfaceNo.checked)">
                  Delete cable-mac
                </mat-radio-button>
                <mat-radio-button value="3" class="template__radio" (change)="interFaceUpdate.checked = true;
                  interfaceNo.checked = false; shutStartUpdate.checked = false; descUpdate.checked = true;
                  descText.value = ''; descNo.checked = false; maxUpdate.checked = true; maxText.value = '85';
                  rangeUpdate.checked = true; rangeText.value = 'Extended'; rangeNo.checked = false;
                  tcsUpdate.checked = true; tcsText.value = '2'; tcsNo.checked = false;
                  tftpUpdate.checked = true; tftpNo.checked = false; dynamicUpdate.checked = true;
                  dynamicText.value = 'mark'; dynamicNo.checked = false; modeUpdate.checked = true;
                  modeText.value = 'ipv4only'; modeNo.checked = false; rcpUpdate.checked = true;
                  rcpNo.checked = false; rccUpdate.checked = true; rccNo.checked = false;
                  downbgUpdate.checked = true; downbgSelect.value = 'enable'; upbgUpdate.checked = true;
                  upbgSelect.value = 'enable'; multUpdate.checked = true; multNo.checked = false;
                  privacyUpdate.checked = true; privacyText.value = 'bpi-plus'; privacyNo.checked = false;
                  genUpdate.checked = false; shutEndtUpdate.checked = true; maxNo.checked = false;
                  addShutStartCommand(shutStartUpdate.checked);
                  addDescCommand(descUpdate.checked, descText.value, descNo.checked);
                  addMaxCommand(maxUpdate.checked, maxText.value, maxNo.checked);
                  addRangeCommand(rangeUpdate.checked, rangeText.value, rangeNo.checked);
                  addTcsCommand(tcsUpdate.checked, tcsText.value, tcsNo.checked);
                  addTftpCommand(tftpUpdate.checked, tftpNo.checked);
                  addDynamicCommand(dynamicUpdate.checked, dynamicText.value, dynamicNo.checked);
                  addModeCommand(modeUpdate.checked, modeText.value, modeNo.checked);
                  addRcpCommand(rcpUpdate.checked, rcpNo.checked);
                  addRccCommand(rccUpdate.checked, rccNo.checked);
                  addDownbgCommand(downbgUpdate.checked, downbgSelect.value);
                  addUpbgCommand(upbgUpdate.checked, upbgSelect.value);
                  addMultCommand(multUpdate.checked, multNo.checked);
                  addPrivacyCommand(privacyUpdate.checked, privacyText.value,  privacyNo.checked);
                  addGenerateCommand(genUpdate.checked);
                  addShutEndCommand(shutEndtUpdate.checked);
                  addNoMacCommand(interfaceNo.checked)">
                  Create cable-mac
                </mat-radio-button>
              </mat-radio-group>
            </mat-toolbar-row>
          </mat-toolbar>
          <!--shutdown-->
          <div class="div__line__pri">
            <mat-checkbox #shutStartUpdate color="primary" (change)="
              addShutStartCommand(shutStartUpdate.checked)">
              cable shutdown
            </mat-checkbox>&nbsp;
          </div>
          <!--Description-->
          <div class="div__line__pri">
            <mat-checkbox #descUpdate id="descUpdate" color="primary" (change)="descUpdate.checked ? false : descNo.checked = false;
              addDescCommand(descUpdate.checked, descText.value, descNo.checked)">
              description
            </mat-checkbox>&nbsp;
            <input type="text" #descText [disabled]="descNo.checked" (blur)="desc = descText.value;        
              addDescCommand(descUpdate.checked, descText.value, descNo.checked)">&nbsp;
            <mat-checkbox #descNo (change)="descNo.checked ? descText.value = '' : false;
              addDescCommand(descUpdate.checked, descText.value, descNo.checked)">
              No
            </mat-checkbox>
          </div>
          <!--freq-us-max-->
          <div class="div__line__pri">
            <mat-checkbox #maxUpdate color="primary" (change)="maxUpdate.checked ? false : maxNo.checked = false;
              addMaxCommand(maxUpdate.checked, maxText.value, maxNo.checked)">
              cable freq-us-max
            </mat-checkbox>&nbsp;
            <input type="text" #maxText class="short__input" value="85" [disabled]="maxNo.checked" (blur)="            
              addMaxCommand(maxUpdate.checked, maxText.value, maxNo.checked)">&nbsp;
            <mat-checkbox #maxNo (change)="maxNo.checked ? maxText.value = '' : false" (change)="
              addMaxCommand(maxUpdate.checked, maxText.value, maxNo.checked)">
              No
            </mat-checkbox>
          </div>
          <!--us-freq-range-->
          <div class="div__line__pri">
            <mat-checkbox #rangeUpdate color="primary" (change)="rangeUpdate.checked ? false : rangeNo.checked = false;
              addRangeCommand(rangeUpdate.checked, rangeText.value, rangeNo.checked)">
              cable us-freq-range
            </mat-checkbox>&nbsp;
            <input type="text" #rangeText class="midd__input" value="Extended" [disabled]="rangeNo.checked" (blur)="            
              addRangeCommand(rangeUpdate.checked, rangeText.value, rangeNo.checked)">&nbsp;
            <mat-checkbox #rangeNo (change)="rangeNo.checked ? rangeText.value = '' : false;
              addRangeCommand(rangeUpdate.checked, rangeText.value, rangeNo.checked)">
              No
            </mat-checkbox>
          </div>
        <!--cm-tcs-max-size-->
        <div class="div__line__pri">
          <mat-checkbox #tcsUpdate color="primary" (change)="tcsUpdate.checked ? false : tcsNo.checked= false;
            addTcsCommand(tcsUpdate.checked, tcsText.value, tcsNo.checked)">
            cable cm-tcs-max-size
          </mat-checkbox>&nbsp;
          <input type="text" #tcsText class="short__input" value="2" [disabled]="tcsNo.checked" (blur)="            
            addTcsCommand(tcsUpdate.checked, tcsText.value, tcsNo.checked)">&nbsp;
          <mat-checkbox #tcsNo (change)="tcsNo.checked ? tcsText.value = '' : false;
            addTcsCommand(tcsUpdate.checked, tcsText.value, tcsNo.checked)">
            No
          </mat-checkbox>
        </div>
          <!--tftp-enforce-->
          <div class="div__line__pri">
            <mat-checkbox #tftpUpdate color="primary" (change)="tftpUpdate.checked ? false : tftpNo.checked = false;
              addTftpCommand(tftpUpdate.checked, tftpNo.checked)">
              cable tftp-enforce
            </mat-checkbox>&nbsp;
            <mat-checkbox #tftpNo (change)="
              addTftpCommand(tftpUpdate.checked, tftpNo.checked)">
              No
            </mat-checkbox>
          </div>
          <!--dynamic-secret-->
          <div class="div__line__pri">
            <mat-checkbox #dynamicUpdate color="primary" (change)="dynamicUpdate.checked ? false : dynamicNo.checked = false;
              addDynamicCommand(dynamicUpdate.checked, dynamicText.value, dynamicNo.checked)">
              cable dynamic-secret
            </mat-checkbox>&nbsp;
            <input type="text" #dynamicText class="shortplus__input" value="mark" [disabled]="dynamicNo.checked" (blur)="            
              addDynamicCommand(dynamicUpdate.checked, dynamicText.value, dynamicNo.checked)">&nbsp;
            <mat-checkbox #dynamicNo (change)="dynamicNo.checked ? dynamicText.value = '' : false;
              addDynamicCommand(dynamicUpdate.checked, dynamicText.value, dynamicNo.checked)">
              No
            </mat-checkbox>
          </div>
          <!--cm-ip-prov-mode-->
          <div class="div__line__pri">
            <mat-checkbox #modeUpdate color="primary" (change)="modeUpdate.checked ? false : modeNo.checked = false;
              addModeCommand(modeUpdate.checked, modeText.value, modeNo.checked)">
              cable cm-ip-prov-mode
            </mat-checkbox>&nbsp;
            <input type="text" #modeText class="midd__input" value="ipv4only" [disabled]="modeNo.checked" (blur)="            
              addModeCommand(modeUpdate.checked, modeText.value, modeNo.checked)">&nbsp;
            <mat-checkbox #modeNo (change)="modeNo.checked ? modeText.value = '' : false;
              addModeCommand(modeUpdate.checked, modeText.value, modeNo.checked)">
              No
            </mat-checkbox>
          </div>
          <!--verbose-cm-rcp-->
          <div class="div__line__pri">
            <mat-checkbox #rcpUpdate color="primary" (change)="rcpUpdate.checked ? false : rcpNo.checked = false;
              addRcpCommand(rcpUpdate.checked, rcpNo.checked)">
              cable verbose-cm-rcp
            </mat-checkbox>&nbsp;
            <mat-checkbox #rcpNo (change)="
              addRcpCommand(rcpUpdate.checked, rcpNo.checked)">
              No
            </mat-checkbox>
          </div>
          <!--dynamic-rcc-->
          <div class="div__line__pri">
            <mat-checkbox #rccUpdate color="primary" (change)="rccUpdate.checked ? false : rccNo.checked = false;
              addRccCommand(rccUpdate.checked, rccNo.checked)">
              cable dynamic-rcc
            </mat-checkbox>&nbsp;
            <mat-checkbox #rccNo (change)="
              addRccCommand(rccUpdate.checked, rccNo.checked)">
              No
            </mat-checkbox>
          </div>
          <!--downstream-bonding-group-->
          <div class="div__line__pri">
            <mat-checkbox #downbgUpdate color="primary" (change)="          
              addDownbgCommand(downbgUpdate.checked, downbgSelect.value)">
              cable downstream-bonding-group dynamic
            </mat-checkbox>&nbsp;
            <select #downbgSelect (change)="          
              addDownbgCommand(downbgUpdate.checked, downbgSelect.value)">
              <option>enable</option>
              <option>disable</option>
            </select>
          </div>
          <!--upstream-bonding-group-->
          <div class="div__line__pri">
            <mat-checkbox #upbgUpdate color="primary" (change)="          
              addUpbgCommand(upbgUpdate.checked, upbgSelect.value)">
              cable upstream-bonding-group dynamic
            </mat-checkbox>&nbsp;
            <select #upbgSelect (change)="          
              addUpbgCommand(upbgUpdate.checked, upbgSelect.value)">
              <option>enable</option>
              <option>disable</option>
            </select>
          </div>
          <!--mult-tx-chl-mode-->
          <div class="div__line__pri">
            <mat-checkbox #multUpdate color="primary" (change)="multUpdate.checked ? false : multNo.checked = false;
              addMultCommand(multUpdate.checked, multNo.checked)">
              cable mult-tx-chl-mode
            </mat-checkbox>&nbsp;
            <mat-checkbox #multNo (change)="
              addMultCommand(multUpdate.checked, multNo.checked)">
              No
            </mat-checkbox>
          </div>
          <!--privacy mandatory-->
          <div class="div__line__pri">
            <mat-checkbox #privacyUpdate color="primary" (change)="privacyUpdate.checked ? false : privacyNo.checked = false;
              addPrivacyCommand(privacyUpdate.checked, privacyText.value,  privacyNo.checked)">
              cable privacy mandatory
            </mat-checkbox>&nbsp;
            <input type="text" #privacyText class="midd__input" value="bpi-plus" [disabled]="privacyNo.checked" (blur)="            
              addPrivacyCommand(privacyUpdate.checked, privacyText.value,  privacyNo.checked)">&nbsp;
            <mat-checkbox #privacyNo (change)="privacyNo.checked ? privacyText.value = '' : false;
              addPrivacyCommand(privacyUpdate.checked, privacyText.value,  privacyNo.checked)">
              No
            </mat-checkbox>
          </div>
          <!--generate-pool-->
          <div class="div__line__pri">
            <mat-checkbox #genUpdate color="primary" (change)="          
              addGenerateCommand(genUpdate.checked)">
              cable downstream-bonding-group static generate-pool
            </mat-checkbox>&nbsp;
          </div>
          <!--bonding groups correction-->
          <app-bonding-group-e6000 *ngIf="genUpdate.checked" [pos]="16" [downIf]="downIf" [downSif]="downSif">
          </app-bonding-group-e6000>
          <!--shutdown-->
          <div class="div__line__pri">
            <mat-checkbox #shutEndtUpdate color="primary" (change)="          
              addShutEndCommand(shutEndtUpdate.checked)">
              no cable shutdown
            </mat-checkbox>&nbsp;
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <!--interface cable-downstream-->
      <app-cable-down-stream [mac]="mac" [desc]="desc" [pos]="30" 
        (downstreamEvent)="setDownstream($event)" (interFaceEvent)="setDownIf($event)" (subInterFaceEvent)="setDownSif($event)">
      </app-cable-down-stream>
      <!--interface cable-upstream section A-->
      <app-cable-up-stream [mac]="mac" [desc]="desc" [pos]="700" [supervision]="downstream" [sec]="secA"
        (upstreamEvent)="setUpstreamA($event)">
      </app-cable-up-stream>
      <!--interface cable-upstream section B-->
      <div class="div__line__pri">
        <mat-checkbox #addUpstream color="primary" (change)="          
          addUpstream.checked ? secA = 'A' : secA = ''; addUpstream.checked ? secB = 'B' : secB = ''">
          Add cable-upstream
        </mat-checkbox>&nbsp;
      </div>
      <div *ngIf="secB === 'B'">
        <app-cable-up-stream [mac]="mac" [desc]="desc" [pos]="900" [supervision]="downstream" [sec]="secB"
          (upstreamEvent)="setUpstreamB($event)">
        </app-cable-up-stream>
      </div>
      <!--interface cable fiber-node section A-->
      <app-fiber-node [mac]="mac" [desc]="desc" [pos]="1100" [downstream]="downstream" [upstream]="upstreamA"
        [sec]="secA">
      </app-fiber-node>
      <!--interface cable fiber-node section B-->
      <div *ngIf="secB === 'B'">
        <app-fiber-node [mac]="mac" [desc]="desc" [pos]="1110" [downstream]="downstream" [upstream]="upstreamB"
          [sec]="secB">
        </app-fiber-node>
      </div>
      <!--Generate script-->
      <app-script></app-script>
    </mat-card>
  </div>
  
