<div class="container">
    <mat-card>
      <mat-card-title>E6000</mat-card-title>
      <mat-card-subtitle>Arris</mat-card-subtitle>
      <!--interface cable-mac-->
      <div class="div__interface">
        <mat-checkbox #interFaceUpdate color="primary" (change)="
              interFaceUpdate.checked
                  ? inputCommand('interface cable-mac ' + macText.value, 0)
                  : inputCommand('', 0)">
        </mat-checkbox>&nbsp;
        <strong>
          <span>interface cable-mac</span>&nbsp;
          <input type="text" class="mac__input" #macText (blur)="mac  = macText.value;
          interFaceUpdate.checked
          ? inputCommand('interface cable-mac ' + macText.value, 0)
          : inputCommand('', 0)">
        </strong>
      </div>
      <!--interface cable-mac attributes-->
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenStateAtt = true" (closed)="panelOpenStateAtt = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              interface cable-mac attributes
            </mat-panel-title>
            <mat-panel-description>
              Click to {{panelOpenStateAtt ? 'close' : 'open'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!--shutdown-->
          <div class="div__line__pri">
            <mat-checkbox #shutStartUpdate color="primary" (change)="
              shutStartUpdate.checked 
                    ? inputCommand(' cable shutdown',  1) 
                    : inputCommand('', 1)">
              cable shutdown
            </mat-checkbox>&nbsp;
          </div>
          <!--Description-->
          <div class="div__line__pri">
            <mat-checkbox #descUpdate color="primary" (change)="      
                descUpdate.checked ? !descNo.checked 
                    ? inputCommand(' description ' + quot + descText.value + quot,  2) 
                    : inputCommand(' no description', 2) 
                  : inputCommand('', 2)">
              description
            </mat-checkbox>&nbsp;
            <input type="text" #descText [disabled]="descNo.checked" (blur)="desc = descText.value;        
                descUpdate.checked ? !descNo.checked 
                  ? inputCommand(' description ' + quot + descText.value + quot, 2) 
                  : inputCommand(' no description', 2) 
                : inputCommand('', 2)">&nbsp;
            <mat-checkbox #descNo (change)="descNo.checked ? descText.value = '' : false;
                descUpdate.checked ? !descNo.checked 
                  ? inputCommand(' description ' + quot + descText.value + quot, 2) 
                  : inputCommand(' no description', 2) 
                : inputCommand('', 2)">
              No
            </mat-checkbox>
          </div>
          <!--freq-us-max-->
          <div class="div__line__pri">
            <mat-checkbox #maxUpdate color="primary" (change)="          
                maxUpdate.checked ? !maxNo.checked 
                    ? inputCommand(' cable freq-us-max ' + maxText.value ,  3) 
                    : inputCommand(' no cable freq-us-max', 3) 
                  : inputCommand('', 3)">
              cable freq-us-max
            </mat-checkbox>&nbsp;
            <input type="text" #maxText class="short__input" value="85" [disabled]="maxNo.checked" (blur)="            
                maxUpdate.checked ? !maxNo.checked 
                  ? inputCommand(' cable freq-us-max ' + maxText.value, 3) 
                  : inputCommand(' no cable freq-us-max', 3) 
                : inputCommand('', 3)">&nbsp;
            <mat-checkbox #maxNo (change)="maxNo.checked ? maxText.value = '' : false" (change)="
                maxUpdate.checked ? !maxNo.checked 
                  ? inputCommand(' cable freq-us-max ' + maxText.value, 3) 
                  : inputCommand(' no cable freq-us-max', 3) 
                : inputCommand('', 3)">
              No
            </mat-checkbox>
          </div>
          <!--us-freq-range-->
          <div class="div__line__pri">
            <mat-checkbox #rangeUpdate color="primary" (change)="          
              rangeUpdate.checked ? !rangeNo.checked 
                    ? inputCommand(' cable us-freq-range ' + rangeText.value ,  4) 
                    : inputCommand(' no cable us-freq-range', 4) 
                  : inputCommand('', 4)">
              cable us-freq-range
            </mat-checkbox>&nbsp;
            <input type="text" #rangeText class="midd__input" value="Extended" [disabled]="rangeNo.checked" (blur)="            
              rangeUpdate.checked ? !rangeNo.checked 
                  ? inputCommand(' cable us-freq-range ' + rangeText.value, 4) 
                  : inputCommand(' no cable us-freq-range', 4) 
                : inputCommand('', 4)">&nbsp;
            <mat-checkbox #rangeNo (change)="rangeNo.checked ? rangeText.value = '' : false;
              rangeUpdate.checked ? !rangeNo.checked 
                  ? inputCommand(' cable us-freq-range ' +rangeText.value, 4) 
                  : inputCommand(' no cable us-freq-range', 4) 
                : inputCommand('', 4)">
              No
            </mat-checkbox>
          </div>
        <!--cm-tcs-max-size-->
        <div class="div__line__pri">
          <mat-checkbox #tcsUpdate color="primary" (change)="          
            tcsUpdate.checked ? !tcsNo.checked 
                  ? inputCommand(' cable cm-tcs-max-size ' + tcsText.value ,  5) 
                  : inputCommand(' no cable cm-tcs-max-size', 5) 
                : inputCommand('', 5)">
                cable cm-tcs-max-size
          </mat-checkbox>&nbsp;
          <input type="text" #tcsText class="short__input" value="2" [disabled]="tcsNo.checked" (blur)="            
            tcsUpdate.checked ? !tcsNo.checked 
                ? inputCommand(' cable cm-tcs-max-size ' + tcsText.value, 5) 
                : inputCommand(' no cable cm-tcs-max-size', 5) 
              : inputCommand('', 5)">&nbsp;
          <mat-checkbox #tcsNo (change)="tcsNo.checked ? tcsText.value = '' : false;
            tcsUpdate.checked ? !tcsNo.checked 
                ? inputCommand(' cable cm-tcs-max-size ' + tcsText.value, 5) 
                : inputCommand(' no cable cm-tcs-max-size', 5) 
              : inputCommand('', 5)">
            No (Only V1)
          </mat-checkbox>
        </div>
          <!--tftp-enforce-->
          <div class="div__line__pri">
            <mat-checkbox #tftpUpdate color="primary" (change)="          
              tftpUpdate.checked ? !tftpNo.checked 
                    ? inputCommand(' cable tftp-enforce',  6) 
                    : inputCommand(' no cable tftp-enforce', 6) 
                  : inputCommand('', 6)">
              cable tftp-enforce
            </mat-checkbox>&nbsp;
            <mat-checkbox #tftpNo (change)="
              tftpUpdate.checked ? !tftpNo.checked 
                  ? inputCommand(' cable tftp-enforce', 6) 
                  : inputCommand(' no cable tftp-enforce', 6) 
                : inputCommand('', 6)">
              No
            </mat-checkbox>
          </div>
          <!--dynamic-secret-->
          <div class="div__line__pri">
            <mat-checkbox #dynamicUpdate color="primary" (change)="          
              dynamicUpdate.checked ? !dynamicNo.checked 
                    ? inputCommand(' cable dynamic-secret ' + dynamicText.value ,  7) 
                    : inputCommand(' no cable dynamic-secret', 7) 
                  : inputCommand('', 7)">
              cable dynamic-secret
            </mat-checkbox>&nbsp;
            <input type="text" #dynamicText class="shortplus__input" value="mark" [disabled]="dynamicNo.checked" (blur)="            
              dynamicUpdate.checked ? !dynamicNo.checked 
                  ? inputCommand(' cable dynamic-secret ' + dynamicText.value, 7) 
                  : inputCommand(' no cable dynamic-secret', 7) 
                : inputCommand('', 7)">&nbsp;
            <mat-checkbox #dynamicNo (change)="dynamicNo.checked ? dynamicText.value = '' : false;
              dynamicUpdate.checked ? !dynamicNo.checked 
                  ? inputCommand(' cable dynamic-secret ' + dynamicText.value, 7) 
                  : inputCommand(' no cable dynamic-secret', 7) 
                : inputCommand('', 7)">
              No
            </mat-checkbox>
          </div>
          <!--cm-ip-prov-mode-->
          <div class="div__line__pri">
            <mat-checkbox #modeUpdate color="primary" (change)="          
              modeUpdate.checked ? !modeNo.checked 
                    ? inputCommand(' cable cm-ip-prov-mode ' + modeText.value ,  8) 
                    : inputCommand(' no cable cm-ip-prov-mode', 8) 
                  : inputCommand('', 8)">
              cable cm-ip-prov-mode
            </mat-checkbox>&nbsp;
            <input type="text" #modeText class="midd__input" value="ipv4only" [disabled]="modeNo.checked" (blur)="            
              modeUpdate.checked ? !modeNo.checked 
                  ? inputCommand(' cable cm-ip-prov-mode ' + modeText.value, 8) 
                  : inputCommand(' no cm-ip-prov-mode', 8) 
                : inputCommand('', 8)">&nbsp;
            <mat-checkbox #modeNo (change)="modeNo.checked ? modeText.value = '' : false;
              modeUpdate.checked ? !modeNo.checked 
                  ? inputCommand(' cable cm-ip-prov-mode ' + modeText.value, 8) 
                  : inputCommand(' no cable cm-ip-prov-mode', 8) 
                : inputCommand('', 8)">
              No
            </mat-checkbox>
          </div>
          <!--verbose-cm-rcp-->
          <div class="div__line__pri">
            <mat-checkbox #rcpUpdate color="primary" (change)="          
              rcpUpdate.checked ? !rcpNo.checked 
                    ? inputCommand(' cable verbose-cm-rcp',  9) 
                    : inputCommand(' no cable verbose-cm-rcp', 9) 
                  : inputCommand('', 9)">
              cable verbose-cm-rcp
            </mat-checkbox>&nbsp;
            <mat-checkbox #rcpNo (change)="
              rcpUpdate.checked ? !rcpNo.checked 
                  ? inputCommand(' cable verbose-cm-rcp', 9) 
                  : inputCommand(' no cable verbose-cm-rcp', 9) 
                : inputCommand('', 9)">
              No
            </mat-checkbox>
          </div>
          <!--dynamic-rcc-->
          <div class="div__line__pri">
            <mat-checkbox #rccUpdate color="primary" (change)="          
              rccUpdate.checked ? !rccNo.checked 
                    ? inputCommand(' cable dynamic-rcc',  10) 
                    : inputCommand(' no cable dynamic-rcc', 10) 
                  : inputCommand('', 10)">
              cable dynamic-rcc
            </mat-checkbox>&nbsp;
            <mat-checkbox #rccNo (change)="
              rccUpdate.checked ? !rccNo.checked 
                  ? inputCommand(' cable dynamic-rcc', 10) 
                  : inputCommand(' no cable dynamic-rcc', 10) 
                : inputCommand('', 10)">
              No
            </mat-checkbox>
          </div>
          <!--downstream-bonding-group-->
          <div class="div__line__pri">
            <mat-checkbox #downbgUpdate color="primary" (change)="          
              downbgUpdate.checked 
                  ? inputCommand(' cable downstream-bonding-group dynamic ' + downbgSelect.value ,  11) 
                  : inputCommand('', 1)">
              cable downstream-bonding-group dynamic
            </mat-checkbox>&nbsp;
            <select #downbgSelect (change)="          
              downbgUpdate.checked 
                  ? inputCommand(' cable downstream-bonding-group dynamic ' + downbgSelect.value ,  1) 
                  : inputCommand('', 1)">
              <option>enable</option>
              <option>disable</option>
            </select>
          </div>
          <!--upstream-bonding-group-->
          <div class="div__line__pri">
            <mat-checkbox #upbgUpdate color="primary" (change)="          
              upbgUpdate.checked 
                  ? inputCommand(' cable upstream-bonding-group dynamic ' + upbgSelect.value ,  12) 
                  : inputCommand('', 12)">
              cable upstream-bonding-group dynamic
            </mat-checkbox>&nbsp;
            <select #upbgSelect (change)="          
              upbgUpdate.checked 
                  ? inputCommand(' cable upstream-bonding-group dynamic ' + upbgSelect.value ,  12) 
                  : inputCommand('', 12)">
              <option>enable</option>
              <option>disable</option>
            </select>
          </div>
          <!--mult-tx-chl-mode-->
          <div class="div__line__pri">
            <mat-checkbox #multUpdate color="primary" (change)="          
              multUpdate.checked ? !multNo.checked 
                    ? inputCommand(' cable mult-tx-chl-mode',  13) 
                    : inputCommand(' no cable mult-tx-chl-mode', 13) 
                  : inputCommand('', 13)">
              cable mult-tx-chl-mode
            </mat-checkbox>&nbsp;
            <mat-checkbox #multNo (change)="
              multUpdate.checked ? !multNo.checked 
                  ? inputCommand(' cable mult-tx-chl-mode', 13) 
                  : inputCommand(' no cable mult-tx-chl-mode', 13) 
                : inputCommand('', 13)">
              No
            </mat-checkbox>
          </div>
          <!--privacy mandatory-->
          <div class="div__line__pri">
            <mat-checkbox #privacyUpdate color="primary" (change)="          
              privacyUpdate.checked ? !privacyNo.checked 
                    ? inputCommand(' cable privacy mandatory ' + privacyText.value ,  14) 
                    : inputCommand(' no cable privacy mandatory', 14) 
                  : inputCommand('', 14)">
              cable privacy mandatory
            </mat-checkbox>&nbsp;
            <input type="text" #privacyText class="midd__input" value="bpi-plus" [disabled]="privacyNo.checked" (blur)="            
              privacyUpdate.checked ? !privacyNo.checked 
                  ? inputCommand(' cable privacy mandatory ' + privacyText.value, 14) 
                  : inputCommand(' no cable privacy mandatory', 14) 
                : inputCommand('', 13)">&nbsp;
            <mat-checkbox #privacyNo (change)="privacyNo.checked ? privacyText.value = '' : false;
              privacyUpdate.checked ? !privacyNo.checked 
                  ? inputCommand(' cable privacy mandatory ' + privacyText.value, 14) 
                  : inputCommand(' no cable privacy mandatory', 14) 
                : inputCommand('', 14)">
              No
            </mat-checkbox>
          </div>
          <!--generate-pool-->
          <div class="div__line__pri">
            <mat-checkbox #genUpdate color="primary" (change)="          
              genUpdate.checked 
                ? inputCommand(' cable downstream-bonding-group static generate-pool',  15) 
                : inputCommand('', 15)">
              cable downstream-bonding-group static generate-pool (Only V2)
            </mat-checkbox>&nbsp;
          </div>
          <!--shutdown-->
          <div class="div__line__pri">
            <mat-checkbox #shutEndtUpdate color="primary" (change)="          
              shutEndtUpdate.checked 
                    ? inputCommand(' no cable shutdown',  16) 
                    : inputCommand('', 16)">
              no cable shutdown
            </mat-checkbox>&nbsp;
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <!--interface cable-downstream-->
      <app-cable-down-stream [mac]="mac" [desc]="desc" [pos]="20" 
      (downstreamEvent)="setDownstream($event)" (interFaceEvent)="setDownIf($event)" (subInterFaceEvent)="setDownSif($event)">
      </app-cable-down-stream>
      <!--interface cable-upstream section A-->
      <app-cable-up-stream [mac]="mac" [desc]="desc" [pos]="700" [supervision]="downstream" [sec]="secA"
        (upstreamEvent)="setUpstreamA($event)">
      </app-cable-up-stream>
      <!--interface cable-upstream section B-->
      <div class="div__line__pri">
        <mat-checkbox #addUpstream color="primary" (change)="          
          addUpstream.checked ? secA = 'A' : secA = ''; addUpstream.checked ? secB = 'B' : secB = ''">
          Add cable-upstream
        </mat-checkbox>&nbsp;
      </div>
      <div *ngIf="secB === 'B'">
        <app-cable-up-stream [mac]="mac" [desc]="desc" [pos]="900" [supervision]="downstream" [sec]="secB"
          (upstreamEvent)="setUpstreamB($event)">
        </app-cable-up-stream>
      </div>
      <!--interface cable fiber-node section A-->
      <app-fiber-node [mac]="mac" [desc]="desc" [pos]="1100" [downstream]="downstream" [upstream]="upstreamA"
        [sec]="secA">
      </app-fiber-node>
      <!--interface cable fiber-node section B-->
      <div *ngIf="secB === 'B'">
        <app-fiber-node [mac]="mac" [desc]="desc" [pos]="1110" [downstream]="downstream" [upstream]="upstreamB"
          [sec]="secB">
        </app-fiber-node>
      </div>
      <!--bonding groups correction-->
      <app-bonding-group-e6000 [pos]="1120" [downIf]="downIf" [downSif]="downSif"></app-bonding-group-e6000>
      <!--Generate script-->
      <app-script></app-script>
    </mat-card>
  </div>
  
