<!--interfaces cable-upstream-->
<div class="div__subinterface">
  <strong>
    interfaces cable-upstream {{sec}}
    <select #ifSelect class="ifPri__select" (change)="interFace = ifSelect.value">
      <option></option>
      <option *ngFor="let interFace of interFaces">{{interFace}}</option>
    </select>
    /
    <select #sifSelect class="ifPri__select" (change)="subInterFace = sifSelect.value">
      <option></option>
      <option *ngFor="let subInterFace of subInterFaces">{{subInterFace}}</option>
    </select>
    /
    <select #startSlotSelect class="ifPri__select">
      <option></option>
      <option *ngFor="let slot of slots">{{slot}}</option>
    </select>
    -->
    <select #endSlotSelect class="ifPri__select"
      (click)="getSlts(startSlotSelect.value, endSlotSelect.value);
          outputUpstream(ifSelect.value + '/' + sifSelect.value + '/' + startSlotSelect.value + '-' + endSlotSelect.value)">
      <option></option>
      <option *ngFor="let slot of slots">{{slot}}</option>
    </select>
  </strong>
</div>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        interfaces cable-upstream atrributes
      </mat-panel-title>
      <mat-panel-description>
        Click to {{panelOpenState ? 'close' : 'open'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="scroll__div">
      <div *ngFor="let slt of slts; index as i">
        <!--interface cable-upstream-->
        <div class="div__line__pri">
          <mat-checkbox #ifUpdate color="primary" (change)="ifUpdate.checked ? false : shutStartUpdate.checked = false;
            ifUpdate.checked ? false : descUpdate.checked = false; ifUpdate.checked ? false : descNo.checked = false;
            ifUpdate.checked ? false : macUpdate.checked = false; ifUpdate.checked ? false : macNo.checked = false;
            ifUpdate.checked ? false : ingressUpdate.checked = false; ifUpdate.checked ? false : ingressNo.checked = false;
            ifUpdate.checked ? false : channelUpdate.checked = false; ifUpdate.checked ? false : channelNo.checked = false;
            ifUpdate.checked ? false : freqUpdate.checked = false; ifUpdate.checked ? false : freqNo.checked = false;
            ifUpdate.checked ? false : superUpdate.checked = false; ifUpdate.checked ? false : superNo.checked = false;
            ifUpdate.checked ? false : connectorUpdate.checked = false; ifUpdate.checked ? false : connectorNo.checked = false;
            ifUpdate.checked ? false : idUpdate.checked = false; ifUpdate.checked ? false : preeqUpdate.checked = false;
            ifUpdate.checked ? false : modUpdate.checked = false; ifUpdate.checked ? false : modNo.checked = false;
            ifUpdate.checked ? false : docsisUpdate.checked = false; ifUpdate.checked ? false : docsisNo.checked = false;
            ifUpdate.checked ? false : rangeUpdate.checked = false; ifUpdate.checked ? false : rangeNo.checked = false;
            ifUpdate.checked ? false : spectrumUpdate.checked = false; ifUpdate.checked ? false : spectrumNo.checked = false;
            ifUpdate.checked ? false : shutEndUpdate.checked = false;
            addInterfaceCommand(ifUpdate.checked, i, slt); addShutStartCommand(shutStartUpdate.checked, i);
            addDescCommand(descUpdate.checked, i, descText.value, descNo.checked); addMacCommand(macUpdate.checked, i, macNo.checked);
            addIngressCommand(ingressUpdate.checked, i, ingressText.value, ingressNo.checked); addChannelCommand(channelUpdate.checked, i, channelText.value, channelNo.checked);
            addFreqCommand(freqUpdate.checked, i, freqText.value, freqNo.checked); addSuperCommand(superUpdate.checked, i, superNo.checked);
            addConnectorCommand(connectorUpdate.checked, i, connectorText.value, connectorNo.checked);addIdCommand(idUpdate.checked, i, idText.value);
            addPreEqCommand(preeqUpdate.checked, i, preeqSelect.value); addModCommand(modUpdate.checked, i, modText.value, modNo.checked);
            addDocsisCommand(docsisUpdate.checked, i, docsisText.value, docsisNo.checked); addRangeCommand(rangeUpdate.checked, i, rangeText.value, rangeNo.checked);
            addSpectrumCommand(spectrumUpdate.checked, i, spectrumText.value, spectrumNo.checked); addShutEndCommand(shutEndUpdate.checked, i)">
            interface cable-upstream {{interFace}}/{{subInterFace}}/{{slt}}
          </mat-checkbox>&nbsp;
        </div>
        <!--shutdown-->
        <div class="div__line__sec">
          <mat-checkbox #shutStartUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="          
            addShutStartCommand(shutStartUpdate.checked, i)">
            cable shutdown
          </mat-checkbox>&nbsp;
        </div>
        <!--Description-->
        <div class="div__line__sec">
          <mat-checkbox #descUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="descUpdate.checked ? false : descNo.checked = false;
            addDescCommand(descUpdate.checked, i, descText.value, descNo.checked)">
            description
          </mat-checkbox>&nbsp;
          <input type="text" #descText [disabled]="descNo.checked" [disabled]="!ifUpdate.checked" [value]="desc" (blur)="            
            addDescCommand(descUpdate.checked, i, descText.value, descNo.checked)">&nbsp;
          <mat-checkbox #descNo [disabled]="!ifUpdate.checked" (change)="descNo.checked ? descText.value = '' : false;
            addDescCommand(descUpdate.checked, i, descText.value, descNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--cable-mac-->
        <div class="div__line__sec">
          <mat-checkbox #macUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="macUpdate.checked ? false : macNo.checked = false;
            addMacCommand(macUpdate.checked, i, macNo.checked)">
            cable cable-mac {{mac}}
          </mat-checkbox>&nbsp;
          <mat-checkbox #macNo [disabled]="!ifUpdate.checked" (change)="
            addMacCommand(macUpdate.checked, i, macNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--ingress-cancellation-->
        <div class="div__line__sec">
          <mat-checkbox #ingressUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="ingressUpdate.checked ? false : ingressNo.checked = false;
            addIngressCommand(ingressUpdate.checked, i, ingressText.value, ingressNo.checked)">
            cable ingress-cancellation interval
          </mat-checkbox>&nbsp;
          <input type="text" #ingressText class="shortplus__input" [disabled]="!ifUpdate.checked" value="100" (blur)="            
            addIngressCommand(ingressUpdate.checked, i, ingressText.value, ingressNo.checked)">&nbsp;
          <mat-checkbox #ingressNo [disabled]="!ifUpdate.checked" (change)="ingressNo.checked ? ingressText.value = '' : false;
            addIngressCommand(ingressUpdate.checked, i, ingressText.value, ingressNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--channel-width-->
        <div class="div__line__sec">
          <mat-checkbox #channelUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="channelUpdate.checked ? false : channelNo.checked = false;
            addChannelCommand(channelUpdate.checked, i, channelText.value, channelNo.checked)">
            cable channel-width
            <input type="text" #channelText class="short__input" (blur)="
              addChannelCommand(channelUpdate.checked, i, channelText.value, channelNo.checked)">
              00000
          </mat-checkbox>&nbsp;
          <mat-checkbox #channelNo [disabled]="!ifUpdate.checked" (change)="channelNo.checked ? channelText.value = '' : false;
            addChannelCommand(channelUpdate.checked, i, channelText.value, channelNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--frequency-->
        <div class="div__line__sec">
          <mat-checkbox #freqUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="freqUpdate.checked ? false : freqNo.checked = false;
            addFreqCommand(freqUpdate.checked, i, freqText.value, freqNo.checked)">
            cable frequency
            <input type="text" #freqText class="shortplus__input" (blur)="
              addFreqCommand(freqUpdate.checked, i, freqText.value, freqNo.checked)">
              00000
          </mat-checkbox>&nbsp;
          <mat-checkbox #freqNo [disabled]="!ifUpdate.checked" (change)="freqNo.checked ? freqText.value = '' : false;
            addFreqCommand(freqUpdate.checked, i, freqText.value, freqNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--supervision-->
        <div class="div__line__sec">
          <mat-checkbox #superUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="superUpdate.checked ? false : superNo.checked = false;
            addSuperCommand(superUpdate.checked, i, superNo.checked)">
            cable supervision {{supervision}}
          </mat-checkbox>&nbsp;
          <mat-checkbox #superNo [disabled]="!ifUpdate.checked" (change)="
            addSuperCommand(superUpdate.checked, i, superNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--connector-->
        <div class="div__line__sec">
          <mat-checkbox #connectorUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="connectorUpdate.checked ? false : connectorNo.checked = false;
            addConnectorCommand(connectorUpdate.checked, i, connectorText.value, connectorNo.checked)">
            cable connector
          </mat-checkbox>&nbsp;
          <input type="text" #connectorText class="short__input" [disabled]="!ifUpdate.checked" (blur)="            
            addConnectorCommand(connectorUpdate.checked, i, connectorText.value, connectorNo.checked)">&nbsp;
          <mat-checkbox #connectorNo [disabled]="!ifUpdate.checked" (change)="connectorNo.checked ? connectorText.value = '' : false;
            addConnectorCommand(connectorUpdate.checked, i, connectorText.value, connectorNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--channel-id-->
        <div class="div__line__sec">
          <mat-checkbox #idUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="
            addIdCommand(idUpdate.checked, i, idText.value)">
            cable channel-id
          </mat-checkbox>&nbsp;
          <input type="text" #idText class="short__input" [disabled]="!ifUpdate.checked" (blur)="            
            addIdCommand(idUpdate.checked, i, idText.value)">&nbsp;
        </div>
        <!--pre-eq-enable-->
        <div class="div__line__sec">
          <mat-checkbox #preeqUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="          
            addPreEqCommand(preeqUpdate.checked, i, preeqSelect.value)">
            cable pre-eq-enable
          </mat-checkbox>&nbsp;
          <select #preeqSelect [disabled]="!ifUpdate.checked" (change)="          
            addPreEqCommand(preeqUpdate.checked, i, preeqSelect.value)">
            <option>true</option>
            <option>false</option>
          </select>
        </div>
        <!--modulation-profile-->
        <div class="div__line__sec">
          <mat-checkbox #modUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="modUpdate.checked ? false : modNo.checked;
            addModCommand(modUpdate.checked, i, modText.value, modNo.checked)">
            cable modulation-profile
          </mat-checkbox>&nbsp;
          <input type="text" #modText class="shortplus__input" [disabled]="!ifUpdate.checked" value="224" (blur)="            
            addModCommand(modUpdate.checked, i, modText.value, modNo.checked)">&nbsp;
          <mat-checkbox #modNo [disabled]="!ifUpdate.checked" (change)="modNo.checked ? modText.value = '' : false;
            addModCommand(modUpdate.checked, i, modText.value, modNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--docsis-mode-->
        <div class="div__line__sec">
          <mat-checkbox #docsisUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="docsisUpdate.checked ? false : docsisNo.checked = false;
            addDocsisCommand(docsisUpdate.checked, i, docsisText.value, docsisNo.checked)">
            cable docsis-mode
          </mat-checkbox>&nbsp;
          <input type="text" #docsisText class="midd__input" [disabled]="!ifUpdate.checked" value="atdma" (blur)="            
            addDocsisCommand(docsisUpdate.checked, i, docsisText.value, docsisNo.checked)">&nbsp;
          <mat-checkbox #docsisNo [disabled]="!ifUpdate.checked" (change)="docsisNo.checked ? docsisText.value = '' : false;
            addDocsisCommand(docsisUpdate.checked, i, docsisText.value, docsisNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--rangebackoff-->
        <div class="div__line__sec">
          <mat-checkbox #rangeUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="rangeUpdate.checked ? false : rangeNo.checked = false;
            addRangeCommand(rangeUpdate.checked, i, rangeText.value, rangeNo.checked)">
            cable rangebackoff
          </mat-checkbox>&nbsp;
          <input type="text" #rangeText class="shortplus__input" [disabled]="!ifUpdate.checked" value="3-7" (blur)="            
            addRangeCommand(rangeUpdate.checked, i, rangeText.value, rangeNo.checked)">&nbsp;
          <mat-checkbox #rangeNo [disabled]="!ifUpdate.checked" (change)="rangeNo.checked ? rangeText.value = '' : false;
            addRangeCommand(rangeUpdate.checked, i, rangeText.value, rangeNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--spectrum-group-->
        <div class="div__line__sec">
          <mat-checkbox #spectrumUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="spectrumUpdate.checked ? false : spectrumNo.checked = false;
            addSpectrumCommand(spectrumUpdate.checked, i, spectrumText.value, spectrumNo.checked)">
            cable spectrum-group
          </mat-checkbox>&nbsp;
          <input type="text" #spectrumText class="short__input" [disabled]="!ifUpdate.checked" (blur)="            
            addSpectrumCommand(spectrumUpdate.checked, i, spectrumText.value, spectrumNo.checked)">&nbsp;
          <mat-checkbox #spectrumNo [disabled]="!ifUpdate.checked" (change)="spectrumNo.checked ? spectrumText.value = '' : false;
            addSpectrumCommand(spectrumUpdate.checked, i, spectrumText.value, spectrumNo.checked)">
            No
          </mat-checkbox>
        </div>
        <!--shutdown-->
        <div class="div__line__sec">
          <mat-checkbox #shutEndUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="          
            addShutEndCommand(shutEndUpdate.checked, i)">
            no cable shutdown
          </mat-checkbox>&nbsp;
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
