<div class="div__line__sec">
    <mat-checkbox #us [disabled]="!checked" color="primary" [checked]="checked ? us.checked : false" 
        (change)="inputCommand(us.checked, usText.value, usNo.checked)">
        upstream
    </mat-checkbox>&nbsp;
    <input type="text" #usText class="short__input" [disabled]="!checked" (blur)="inputCommand(us.checked, usText.value, usNo.checked);">&nbsp;
    <mat-checkbox #usNo [disabled]="!checked" (change)="inputCommand(us.checked, usText.value, usNo.checked);">
        No |
    </mat-checkbox>&nbsp;
    <mat-checkbox #usOther [disabled]="!checked">Add upstream</mat-checkbox>&nbsp;
</div>
<app-bgupstream *ngIf="usOther.checked; else noCheck" [pos] = "pos+1" [checked]="checked"></app-bgupstream>
<ng-template #noCheck></ng-template>


  
