.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  .card {
    margin: 5px;    
    align-items: center;
    width: 200px;
    height: 320px;

    img{
      display: block;
      margin: auto;
      width: auto;
      height: 140px;
    }

    button{
      margin-left: 5px;
    }

    .enter{
      text-decoration: none;
      color: white;
    }
    
  }

}

  
