<!--interfaces cable-downstream-->
<div class="div__subinterface">
    <strong>
      interfaces cable-downstream
      <select #ifSelect class="ifPri__select" (change)="interFace = parse_Int(ifSelect.value)">
        <option></option>
        <option *ngFor="let interFace of interFaces">{{interFace}}</option>
      </select>
      /
      <select #sifSelect class="ifPri__select" (change)="subInterFace = parse_Int(sifSelect.value)">
        <option></option>
        <option *ngFor="let subInterFace of subInterFaces">{{subInterFace}}</option>
      </select>
      /
      <select #startSlotSelect class="ifPri__select">
        <option></option>
        <option *ngFor="let slot of slots">{{slot}}</option>
      </select>
      -->
      <select #endSlotSelect class="ifPri__select" (click)="getSlts(startSlotSelect.value, endSlotSelect.value);
        outputDownstream(ifSelect.value + '/' + sifSelect.value + '/' + startSlotSelect.value + '-' + endSlotSelect.value)"> 
        <option></option>
        <option *ngFor="let slot of slots">{{slot}}</option>
      </select>
    </strong>
  </div>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          interfaces cable-downstream atrributes
        </mat-panel-title>
        <mat-panel-description>
          Click to {{panelOpenState ? 'close' : 'open'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let slt of slts; index as i">
        <!--interface cable-downstream-->
        <div class="div__line__pri">
          <mat-checkbox #ifUpdate color="primary" (change)="          
                ifUpdate.checked 
                    ? inputCommand('\ninterface cable-downstream ' + interFace + '/' + subInterFace + '/' + slt, 1 + pos + i * 10) 
                    : inputCommand('', 1 + pos + i * 10)">
            interface cable-downstream {{interFace}}/{{subInterFace}}/{{slt}}
          </mat-checkbox>&nbsp;
        </div>
        <!--shutdown-->
        <div class="div__line__sec">
          <mat-checkbox #shutStartUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="          
                  shutStartUpdate.checked 
                      ? inputCommand(' cable shutdown',  2 + pos + i * 10)
                      : inputCommand('', 2 + pos + i * 10)">
            cable shutdown
          </mat-checkbox>&nbsp;
        </div>
        <!--cable-mac-->
        <div class="div__line__sec">
          <mat-checkbox #macUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="          
                macUpdate.checked ? !macNo.checked
                      ? inputCommand(' cable cable-mac ' + mac,  3 + pos + i * 10)
                      : inputCommand(' no cable cable-mac' + mac, 3 + pos + i * 10) 
                : inputCommand('', 3 + pos + i * 10)">
            cable cable-mac {{mac}}
          </mat-checkbox>&nbsp;
          <mat-checkbox #macNo [disabled]="!ifUpdate.checked" (change)="
          macUpdate.checked ? !macNo.checked 
              ? inputCommand(' cable cable-mac ' + mac, 3 + pos + i * 10) 
              : inputCommand(' no cable cable-mac' + mac, 3 + pos + i * 10)
          : inputCommand('', 3 + pos + i * 10)">
            No
          </mat-checkbox>
        </div>
        <!--Description-->
        <div class="div__line__sec">
          <mat-checkbox #descUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="      
            descUpdate.checked ? !descNo.checked 
              ? inputCommand(' description ' + quot + descText.value + quot,  4 + pos + i * 10) 
              : inputCommand(' no description', 4 + pos + i * 10) 
            : inputCommand('', 4 + pos + i * 10)">
            description
          </mat-checkbox>&nbsp;
          <input type="text" #descText [disabled]="descNo.checked" [disabled]="!ifUpdate.checked" [value]="desc" (blur)="            
            descUpdate.checked ? !descNo.checked 
              ? inputCommand(' description ' + quot + descText.value + quot,  4 + pos + i * 10) 
              : inputCommand(' no description', 4 + pos + i * 10) 
            : inputCommand('', 4 + pos + i * 10)">&nbsp;
          <mat-checkbox #descNo [disabled]="!ifUpdate.checked" (change)="descNo.checked ? descText.value = '' : false;
                  descUpdate.checked ? !descNo.checked 
                  ? inputCommand(' description ' + quot + descText.value + quot,  4 + pos + i * 10) 
                  : inputCommand(' no description', 4 + pos + i * 10) 
                  : inputCommand('', 4 + pos + i * 10)">
            No
          </mat-checkbox>
        </div>
        <!--channel-id-->
        <div class="div__line__sec">
          <mat-checkbox #idUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="      
              idUpdate.checked 
                  ? inputCommand(' cable channel-id ' + idText.value, 5 + pos + i * 10) 
                  : inputCommand('', 5 + pos + i * 10)">
            cable channel-id
          </mat-checkbox>&nbsp;
          <input type="text" #idText class="short__input" [disabled]="!ifUpdate.checked" [value]="i + 1" (blur)="            
              idUpdate.checked
                  ? inputCommand(' cable channel-id ' + idText.value, 5 + pos + i * 10) 
                  : inputCommand('', 5 + pos + i * 10)">&nbsp;
        </div>
        <!--frequency-->
        <div class="div__line__sec">
          <mat-checkbox #freqUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="      
              freqUpdate.checked ? !freqNo.checked 
                  ? inputCommand(' cable frequency ' + freqSelect.value + '000000',  6 + pos + i * 10) 
                  : inputCommand(' cable frequency 0', 6 + pos + i * 10) 
              : inputCommand('', 6 + pos + i * 10)">
            cable frequency
            <select #freqSelect class="freq__select" [disabled]="!ifUpdate.checked" (change)="changeFreqs(i, freqSelect.value);    
              freqUpdate.checked ? !freqNo.checked 
                  ? inputCommand(' cable frequency ' + freqSelect.value + '000000',  6 + pos + i * 10) 
                  : inputCommand(' cable frequency 0', 6 + pos + i * 10) 
              : inputCommand('', 6 + pos + i * 10)">
              <option>{{freqs[i]}}</option>
              <option *ngFor="let frequency of frequencies">{{frequency}}</option>
            </select>
            000000
          </mat-checkbox>&nbsp;
          <mat-checkbox #freqNo [disabled]="!ifUpdate.checked" (change)="freqNo.checked ? freqSelect.value = '' : false;
              freqUpdate.checked ? !freqNo.checked 
                  ? inputCommand(' cable frequency ' + freqSelect.value + '000000', 6 + pos + i * 10) 
                  : inputCommand(' cable frequency 0', 6 + pos + i * 10) 
              : inputCommand('', 6 + pos + i * 10)">
            No
          </mat-checkbox>
        </div>
        <!--interleave-depth-->
        <div class="div__line__sec">
          <mat-checkbox #interUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="      
              interUpdate.checked ? !interNo.checked 
                  ? inputCommand(' cable interleave-depth ' + interText.value,  7 + pos + i * 10) 
                  : inputCommand(' no cable interleave-depth', 7 + pos + i * 10) 
              : inputCommand('', 7 + pos + i * 10)">
            cable interleave-depth
          </mat-checkbox>&nbsp;
          <input type="text" #interText [disabled]="interNo.checked" class="short__input" [disabled]="!ifUpdate.checked"
            value="32" (blur)="            
              interUpdate.checked ? !interNo.checked 
                  ? inputCommand(' cable interleave-depth ' + interText.value, 7 + pos + i * 10) 
                  : inputCommand(' no cable interleave-depth', 7 + pos + i * 10) 
              : inputCommand('', 7 + pos + i * 10)">&nbsp;
          <mat-checkbox #interNo [disabled]="!ifUpdate.checked" (change)="interNo.checked ? interText.value = '' : false;
              interUpdate.checked ? !interNo.checked 
                  ? inputCommand(' cable interleave-depth ' + interText.value, 7 + pos + i * 10) 
                  : inputCommand(' no cable interleave-depth', 7 + pos + i * 10) 
              : inputCommand('', 7 + pos + i * 10)">
            No
          </mat-checkbox>
        </div>
        <!--modulation-->
        <div class="div__line__sec">
            <mat-checkbox #modUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="      
                modUpdate.checked ? !interNo.checked 
                    ? inputCommand(' cable modulation ' + modText.value,  8 + pos + i * 10) 
                    : inputCommand(' no cable modulation', 8 + pos + i * 10) 
                : inputCommand('', 8 + pos + i * 10)">
              cable modulation
            </mat-checkbox>&nbsp;
            <input type="text" #modText [disabled]="modNo.checked" class="midd__input" [disabled]="!ifUpdate.checked" value="256qam" (blur)="            
                modUpdate.checked ? !modNo.checked 
                    ? inputCommand(' cable modulation ' + modText.value, 8 + pos + i * 10) 
                    : inputCommand(' no modulation', 8 + pos + i * 10) 
                : inputCommand('', 8 + pos + i * 10)">&nbsp;
            <mat-checkbox #modNo [disabled]="!ifUpdate.checked" (change)="modNo.checked ? modText.value = '' : false;
                modUpdate.checked ? !modNo.checked 
                    ? inputCommand(' cable modulation ' + modText.value, 8 + pos + i * 10) 
                    : inputCommand(' no cable modulation', 8 + pos + i * 10) 
                : inputCommand('', 8 + pos + i * 10)">
              No
            </mat-checkbox>
          </div>
        <!--primary-capable-->
        <div class="div__line__sec">
            <mat-checkbox #capableUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="      
                capableUpdate.checked ? !capableNo.checked 
                    ? inputCommand(' cable primary-capable',  9 + pos + i * 10) 
                    : inputCommand(' no cable primary-capable', 9 + pos + i * 10) 
                : inputCommand('', 9 + pos + i * 10)">
              cable primary-capable
            </mat-checkbox>&nbsp;
            <mat-checkbox #capableNo [disabled]="!ifUpdate.checked" (change)="
                capableUpdate.checked ? !capableNo.checked 
                    ? inputCommand(' cable primary-capable', 9 + pos + i * 10) 
                    : inputCommand(' no cable primary-capable', 9 + pos + i * 10) 
                : inputCommand('', 9 + pos + i * 10)">
              No
            </mat-checkbox>
          </div>
          <!--shutdown-->
        <div class="div__line__sec">
          <mat-checkbox #shutEndUpdate color="primary" [disabled]="!ifUpdate.checked" (change)="          
              shutEndUpdate.checked 
                  ? inputCommand(' no cable shutdown',  10 + pos + i * 10)
                  : inputCommand('', 10 + pos + i * 10)">
            no cable shutdown
          </mat-checkbox>&nbsp;
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  
